<footer id="aa-footer">
    <!-- footer bottom -->
    <div class="aa-footer-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-footer-top-area">
                        <div class="row">
                            {% if SALES_REPS_NAME != '' %}
                                <div class="col-md-3 col-sm-3">
                                    <div class="aa-footer-widget">
                                        <div style="
                                            border: 2px solid white;
                                            text-align: center;
                                        ">
                                            <h3>Sales Representative</h3>
                                            <img src="/media/{{ SALES_REPS_IMAGE }}"
                                                 alt="Sales refs"
                                                 width="50%"
                                                 height="100%"
                                            >
                                            <h4 style="color:white">{{ SALES_REPS_NAME }}</h4>
                                            <h6 style="color:white">{{ SALES_REPS_TITLE }}</h6>
                                            <p style="color:#888">{{ SALES_REPS_EMAIL }}</p>
                                            <p style="color:#888">{{ SALES_REPS_PHONE }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="col-md-3 col-sm-3">
                                <div class="aa-footer-widget">
                                    <h3>GIS WHOLESALE</h3>
                                    <p style="color:#888">
                                        GIS WHOLESALE customers 
                                        have come to expect the high quality and affordable 
                                        prices which make GIS WHOLESALE a unique and trusted 
                                        tool supplier. Name brands and high-quality imports 
                                        help give GIS WHOLESALE an outstanding reputation 
                                        within the industry.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="aa-footer-widget">
                                    <h3>COMPANY INFORMATION</h3>
                                    <ul class="aa-footer-nav">
                                        <!-- <li><a href="{% url 'main:home:about_us' %}">About Us</a></li>
                                        <li><a href="{% url 'main:home:contact_us' %}">Contact</a></li>
                                        <li><a href="{% url 'main:home:marketting' %}">Marketing</a></li>
                                        <li><a href="{% url 'main:home:return_policy' %}">Return</a></li>
                                        <li><a href="{% url 'main:home:faq' %}">FAQ</a></li> -->
                                    </ul>
                                    <h3>USEFUL LINKS</h3>
                                    <ul class="aa-footer-nav useful-links"></ul>
                                </div>
                            </div>
                            {% comment %}
                            <div class="col-md-3 col-sm-3">
                                <div class="aa-footer-widget">
                                    <div class="aa-footer-widget">
                                        <h3>SUPPORT LINKS</h3>
                                        <ul class="aa-footer-nav">
                                            <!-- <li><a href="{% url 'main:home:faq' %}">FAQ</a></li> -->
{#                                            <li><a href="https://1120distributing.com/services/" target="_blank">Services</a></li>#}
{#                                            <li><a href="https://1120distributing.com/disclaimer/" target="_blank">Disclaimer</a></li>#}
{#                                            <li><a href="https://1120distributing.com/cookie-policy/" target="_blank">Cookie Policy</a></li>#}
                                            <!-- <li><a href="{% url 'main:home:return_policy' %}">Return Policy</a></li> -->
{#                                            <li><a href="https://1120distributing.com/chat/" target="_blank"> Support Agent</a></li>#}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endcomment %}
                            <div class="col-md-3 col-sm-3">
                                <div class="aa-footer-widget">
                                    <div class="aa-footer-widget">
                                        <h3>Contact Us</h3>
                                        <address>
                                            <p>888 S Greenville Ave# 204, Richardson TX-75081</p>
                                            <p><span
                                                    class="fa fa-phone"></span>{{ COMPANY_PHONE }}</p>
                                            <p><span
                                                    class="fa fa-envelope"></span>support@giswholesale.com
                                            </p>
                                        </address>
                                        <div class="aa-footer-social">
                                            <a href="https://www.facebook.com/GIS-Wholesale-103199155117387">
                                                <span class="fa fa-facebook"></span>
                                            </a>
                                            <!-- <a href="https://twitter.com/1Distributing"><span
                                                    class="fa fa-twitter"></span></a> -->
                                            <a href="https://www.instagram.com/giswholesale/"><span
                                                    class="fa fa-instagram"></span></a>
                                            <!-- <a href="https://www.youtube.com/channel/UCghCMy8gP7POgEYBoGB4_LA"><span
                                                    class="fa fa-youtube"></span></a> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-bottom -->
    <div class="aa-footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-footer-bottom-area">
{#                        <p>Designed by <a href=""></a>#}
                        </p>
                        <div class="aa-footer-payment">
                            <span class="fa fa-cc-mastercard"></span>
                            <span class="fa fa-cc-visa"></span>
                            <span class="fa fa-paypal"></span>
                            <span class="fa fa-cc-discover"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script>
    $.ajax({
        url: '/api/v1/useful-link/',
        type: "GET",
        success: function (resp) {
            if (resp.data.length === 0) return
            let data = resp.data
            let useful_links = $('.useful-links')
            $.each(data, function(i, v) {
                useful_links.append(
                    `<li><a href="${v.redirect_url}" target="_blank">${v.title}</a></li>`
                )
            })
        },
        error: function (response) {
            if (response.status === 422) {
                let errors = '';
                $.map(response.responseJSON.details, function (v, i) {
                    $.each(v, function (j, k) {
                        errors += `<li>${i}: ${k}</l1>`;
                    })
                });
                let final_error = `<ul>${errors}</ul>`;

                $('.failed')
                    .html(final_error)
                    .css('display', 'block')
            }
        }
    });      
  </script>