{% load static %}
<!-- jQuery library -->
<script src="{% static 'base/js/jquery.min.js' %}?v={{JS_VERSION}}"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'base/js/bootstrap.js' %}?v={{JS_VERSION}}"></script>

<!-- SmartMenus jQuery plugin -->
<script src="{% static 'base/js/jquery.smartmenus.js' %}?v={{JS_VERSION}}"
        type="text/javascript"></script>

<!-- SmartMenus jQuery Bootstrap Addon -->
<script src="{% static 'base/js/jquery.smartmenus.bootstrap.js' %}?v={{JS_VERSION}}"
        type="text/javascript"></script>

<!-- To Slider JS -->
<script src="{% static 'base/js/sequence.js' %}?v={{JS_VERSION}}"></script>

{#no need to uncomment take help from below js to add new carousel#}
{#<script src="{% static 'base/js/sequence-theme.modern-slide-in.js' %}?v={{JS_VERSION}}"></script>#}
<!-- Product view slider -->
<script src="{% static 'base/js/jquery.simpleGallery.js' %}?v={{JS_VERSION}}"
        type="text/javascript"></script>

<script src="{% static 'base/js/jquery.simpleLens.js' %}?v={{JS_VERSION}}"
        type="text/javascript"></script>

<!-- slick slider -->
<script src="{% static 'base/js/slick.js' %}?v={{JS_VERSION}}" type="text/javascript"></script>

<!-- Price picker slider -->
<script src="{% static 'base/js/nouislider.js' %}?v={{JS_VERSION}}"
        type="text/javascript"></script>

<!-- Block UI -->
<script src="{% static 'admin_base/vendor/jquery-blockUI/blockUI.js' %}?v={{JS_VERSION}}"></script>

<!-- list nav -->
<script src="{% static 'base/js/jquery-listnav.js' %}?v={{JS_VERSION}}"
        type="text/javascript"></script>

<!-- rondell image previewer -->
<script src="{% static 'base/js/jquery.rondell.js' %}?v={{JS_VERSION}}"
        type="text/javascript"></script>

<!-- Parsley, the ultimate JavaScript form validation library -->
<script src="{% static 'base/js/parsley-2.9.2.min.js' %}?v={{JS_VERSION}}"
        type="text/javascript"></script>

<!-- Pagination -->
<script src="{% static 'base/js/jquery.twbsPagination.min-1.4.2.js' %}?v={{JS_VERSION}}"></script>

<!-- Moment Js For Datetime -->
<script src="{% static 'base/js/moment.js' %}?v={{JS_VERSION}}"></script>
<!-- Latest compiled and minified JavaScript -->

<!-- Select Picker -->
<script src="{% static 'base/js/bootstrap-select.min.js' %}?v={{JS_VERSION}}"></script>

<!-- Custom js of theme -->
<script src="{% static 'base/js/theme_custom.js' %}?v={{JS_VERSION}}"></script>

<!-- Custom js of this project -->
<script src="{% static 'base/js/common.js' %}?v={{JS_VERSION}}"></script>
