{% load static %}
<div class="aa-search-box">
{#    <form>#}
    <input type="text" name="" id="searchbar-input-box" placeholder="What are you looking for? ">
    <!-- <a href="{% url 'main:home:product_list' %}" style="color:#ff6666"><small>All Product List</small></a> -->

        <button id="searchbar-advanced-search-button"  title="Advance search"><i class="fa fa-sliders" aria-hidden="true"></i></button>
        <button type="submit"  id="searchbar-submit-button" title="Quick search"><span class="fa fa-search"></span></button>

        <div id="search_result" style="display: none">
            <ul>
{#                <li><a href="#">Product title</a></li>#}
            </ul>
        </div>
        <div id="advanced_search" style="display: none">
            <form id="advanced_search_form">
                <h5>Advanced Search</h5>
                <div class="options">
                    <a href="/product-list/">CATEGORY</a>
                    <a href="/available-brands/">BRAND</a>
                </div>
                <table>
                    <tr>
                        <th>Search by Vehicle</th>
                    </tr>
                    <tr>
                        <th>Year</th>
                        <td>
                            <label>
                                <select id="adv_year" data-live-search="true"></select>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <th>Brand</th>
                        <td>
                            <label>
                                <select id="adv_brand" data-live-search="true"></select>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <th>Model</th>
                        <td>
                            <label>
                                <select id="adv_model" data-live-search="true"></select>
                            </label>
                        </td>
                    </tr>
                </table>
                <div class="buttons">
{#                    <span id="reset">RESET</span>#}
                    <span id="search">SEARCH</span>
                </div>
            </form>
        </div>
{#    </form>#}
</div>

<script>
    // const product_search_api_url = "{% url 'main:inventory:api:v1:product-search' %}"
</script>
