@font-face {
     font-family: 'Roboto';
     font-style: italic;
     font-weight: 400;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOkCnqEu92Fr1Mu51xFIzIFKw.woff2) format('woff2');
     unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
     font-family: 'Roboto';
     font-style: italic;
     font-weight: 400;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOkCnqEu92Fr1Mu51xMIzIFKw.woff2) format('woff2');
     unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
     font-family: 'Roboto';
     font-style: italic;
     font-weight: 400;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOkCnqEu92Fr1Mu51xEIzIFKw.woff2) format('woff2');
     unicode-range: U+1F00-1FFF;
}

@font-face {
     font-family: 'Roboto';
     font-style: italic;
     font-weight: 400;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOkCnqEu92Fr1Mu51xLIzIFKw.woff2) format('woff2');
     unicode-range: U+0370-03FF;
}

@font-face {
     font-family: 'Roboto';
     font-style: italic;
     font-weight: 400;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOkCnqEu92Fr1Mu51xHIzIFKw.woff2) format('woff2');
     unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
     font-family: 'Roboto';
     font-style: italic;
     font-weight: 400;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOkCnqEu92Fr1Mu51xGIzIFKw.woff2) format('woff2');
     unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
     font-family: 'Roboto';
     font-style: italic;
     font-weight: 400;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOkCnqEu92Fr1Mu51xIIzI.woff2) format('woff2');
     unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
     font-family: 'Roboto';
     font-style: italic;
     font-weight: 500;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOjCnqEu92Fr1Mu51S7ACc3CsTKlA.woff2) format('woff2');
     unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
     font-family: 'Roboto';
     font-style: italic;
     font-weight: 500;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOjCnqEu92Fr1Mu51S7ACc-CsTKlA.woff2) format('woff2');
     unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
     font-family: 'Roboto';
     font-style: italic;
     font-weight: 500;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOjCnqEu92Fr1Mu51S7ACc2CsTKlA.woff2) format('woff2');
     unicode-range: U+1F00-1FFF;
}

@font-face {
     font-family: 'Roboto';
     font-style: italic;
     font-weight: 500;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOjCnqEu92Fr1Mu51S7ACc5CsTKlA.woff2) format('woff2');
     unicode-range: U+0370-03FF;
}

@font-face {
     font-family: 'Roboto';
     font-style: italic;
     font-weight: 500;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOjCnqEu92Fr1Mu51S7ACc1CsTKlA.woff2) format('woff2');
     unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
     font-family: 'Roboto';
     font-style: italic;
     font-weight: 500;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOjCnqEu92Fr1Mu51S7ACc0CsTKlA.woff2) format('woff2');
     unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
     font-family: 'Roboto';
     font-style: italic;
     font-weight: 500;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOjCnqEu92Fr1Mu51S7ACc6CsQ.woff2) format('woff2');
     unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
     font-family: 'Roboto';
     font-style: italic;
     font-weight: 700;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOjCnqEu92Fr1Mu51TzBic3CsTKlA.woff2) format('woff2');
     unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
     font-family: 'Roboto';
     font-style: italic;
     font-weight: 700;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOjCnqEu92Fr1Mu51TzBic-CsTKlA.woff2) format('woff2');
     unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
     font-family: 'Roboto';
     font-style: italic;
     font-weight: 700;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOjCnqEu92Fr1Mu51TzBic2CsTKlA.woff2) format('woff2');
     unicode-range: U+1F00-1FFF;
}

@font-face {
     font-family: 'Roboto';
     font-style: italic;
     font-weight: 700;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOjCnqEu92Fr1Mu51TzBic5CsTKlA.woff2) format('woff2');
     unicode-range: U+0370-03FF;
}

@font-face {
     font-family: 'Roboto';
     font-style: italic;
     font-weight: 700;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOjCnqEu92Fr1Mu51TzBic1CsTKlA.woff2) format('woff2');
     unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
     font-family: 'Roboto';
     font-style: italic;
     font-weight: 700;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOjCnqEu92Fr1Mu51TzBic0CsTKlA.woff2) format('woff2');
     unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
     font-family: 'Roboto';
     font-style: italic;
     font-weight: 700;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOjCnqEu92Fr1Mu51TzBic6CsQ.woff2) format('woff2');
     unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
     unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');
     unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');
     unicode-range: U+1F00-1FFF;
}

@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');
     unicode-range: U+0370-03FF;
}

@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');
     unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
     unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
     unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 500;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fCRc4EsA.woff2) format('woff2');
     unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 500;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fABc4EsA.woff2) format('woff2');
     unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 500;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fCBc4EsA.woff2) format('woff2');
     unicode-range: U+1F00-1FFF;
}

@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 500;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fBxc4EsA.woff2) format('woff2');
     unicode-range: U+0370-03FF;
}

@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 500;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fCxc4EsA.woff2) format('woff2');
     unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 500;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2) format('woff2');
     unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 500;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format('woff2');
     unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 700;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2) format('woff2');
     unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 700;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2) format('woff2');
     unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 700;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfCBc4EsA.woff2) format('woff2');
     unicode-range: U+1F00-1FFF;
}

@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 700;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBxc4EsA.woff2) format('woff2');
     unicode-range: U+0370-03FF;
}

@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 700;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfCxc4EsA.woff2) format('woff2');
     unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 700;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2) format('woff2');
     unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 700;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
     unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
     font-family: 'Roboto';
     font-style: italic;
     font-weight: 100;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOiCnqEu92Fr1Mu51QrEz0dL_nz.woff2) format('woff2');
     unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
     font-family: 'Roboto';
     font-style: italic;
     font-weight: 100;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOiCnqEu92Fr1Mu51QrEzQdL_nz.woff2) format('woff2');
     unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
     font-family: 'Roboto';
     font-style: italic;
     font-weight: 100;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOiCnqEu92Fr1Mu51QrEzwdL_nz.woff2) format('woff2');
     unicode-range: U+1F00-1FFF;
}

@font-face {
     font-family: 'Roboto';
     font-style: italic;
     font-weight: 100;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOiCnqEu92Fr1Mu51QrEzMdL_nz.woff2) format('woff2');
     unicode-range: U+0370-03FF;
}

@font-face {
     font-family: 'Roboto';
     font-style: italic;
     font-weight: 100;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOiCnqEu92Fr1Mu51QrEz8dL_nz.woff2) format('woff2');
     unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
     font-family: 'Roboto';
     font-style: italic;
     font-weight: 100;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOiCnqEu92Fr1Mu51QrEz4dL_nz.woff2) format('woff2');
     unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
     font-family: 'Roboto';
     font-style: italic;
     font-weight: 100;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOiCnqEu92Fr1Mu51QrEzAdLw.woff2) format('woff2');
     unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
     font-family: 'Roboto';
     font-style: italic;
     font-weight: 300;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOjCnqEu92Fr1Mu51TjASc3CsTKlA.woff2) format('woff2');
     unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
     font-family: 'Roboto';
     font-style: italic;
     font-weight: 300;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOjCnqEu92Fr1Mu51TjASc-CsTKlA.woff2) format('woff2');
     unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
     font-family: 'Roboto';
     font-style: italic;
     font-weight: 300;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOjCnqEu92Fr1Mu51TjASc2CsTKlA.woff2) format('woff2');
     unicode-range: U+1F00-1FFF;
}

@font-face {
     font-family: 'Roboto';
     font-style: italic;
     font-weight: 300;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOjCnqEu92Fr1Mu51TjASc5CsTKlA.woff2) format('woff2');
     unicode-range: U+0370-03FF;
}

@font-face {
     font-family: 'Roboto';
     font-style: italic;
     font-weight: 300;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOjCnqEu92Fr1Mu51TjASc1CsTKlA.woff2) format('woff2');
     unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
     font-family: 'Roboto';
     font-style: italic;
     font-weight: 300;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOjCnqEu92Fr1Mu51TjASc0CsTKlA.woff2) format('woff2');
     unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
     font-family: 'Roboto';
     font-style: italic;
     font-weight: 300;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOjCnqEu92Fr1Mu51TjASc6CsQ.woff2) format('woff2');
     unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
     font-family: 'Roboto';
     font-style: italic;
     font-weight: 900;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOjCnqEu92Fr1Mu51TLBCc3CsTKlA.woff2) format('woff2');
     unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
     font-family: 'Roboto';
     font-style: italic;
     font-weight: 900;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOjCnqEu92Fr1Mu51TLBCc-CsTKlA.woff2) format('woff2');
     unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
     font-family: 'Roboto';
     font-style: italic;
     font-weight: 900;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOjCnqEu92Fr1Mu51TLBCc2CsTKlA.woff2) format('woff2');
     unicode-range: U+1F00-1FFF;
}

@font-face {
     font-family: 'Roboto';
     font-style: italic;
     font-weight: 900;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOjCnqEu92Fr1Mu51TLBCc5CsTKlA.woff2) format('woff2');
     unicode-range: U+0370-03FF;
}

@font-face {
     font-family: 'Roboto';
     font-style: italic;
     font-weight: 900;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOjCnqEu92Fr1Mu51TLBCc1CsTKlA.woff2) format('woff2');
     unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
     font-family: 'Roboto';
     font-style: italic;
     font-weight: 900;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOjCnqEu92Fr1Mu51TLBCc0CsTKlA.woff2) format('woff2');
     unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
     font-family: 'Roboto';
     font-style: italic;
     font-weight: 900;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOjCnqEu92Fr1Mu51TLBCc6CsQ.woff2) format('woff2');
     unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 100;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOkCnqEu92Fr1MmgVxFIzIFKw.woff2) format('woff2');
     unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 100;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOkCnqEu92Fr1MmgVxMIzIFKw.woff2) format('woff2');
     unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 100;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOkCnqEu92Fr1MmgVxEIzIFKw.woff2) format('woff2');
     unicode-range: U+1F00-1FFF;
}

@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 100;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOkCnqEu92Fr1MmgVxLIzIFKw.woff2) format('woff2');
     unicode-range: U+0370-03FF;
}

@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 100;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOkCnqEu92Fr1MmgVxHIzIFKw.woff2) format('woff2');
     unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 100;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOkCnqEu92Fr1MmgVxGIzIFKw.woff2) format('woff2');
     unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 100;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOkCnqEu92Fr1MmgVxIIzI.woff2) format('woff2');
     unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 300;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fCRc4EsA.woff2) format('woff2');
     unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 300;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fABc4EsA.woff2) format('woff2');
     unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 300;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fCBc4EsA.woff2) format('woff2');
     unicode-range: U+1F00-1FFF;
}

@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 300;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fBxc4EsA.woff2) format('woff2');
     unicode-range: U+0370-03FF;
}

@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 300;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fCxc4EsA.woff2) format('woff2');
     unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 300;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fChc4EsA.woff2) format('woff2');
     unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 300;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format('woff2');
     unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 900;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfCRc4EsA.woff2) format('woff2');
     unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 900;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfABc4EsA.woff2) format('woff2');
     unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 900;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfCBc4EsA.woff2) format('woff2');
     unicode-range: U+1F00-1FFF;
}

@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 900;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfBxc4EsA.woff2) format('woff2');
     unicode-range: U+0370-03FF;
}

@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 900;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfCxc4EsA.woff2) format('woff2');
     unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 900;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfChc4EsA.woff2) format('woff2');
     unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 900;
     src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfBBc4.woff2) format('woff2');
     unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
     /* CSS Variables that may have been missed get put on body */
     --e-global-color-text: #7A7A7A;
     --e-global-color-5e53500: #292727;
     --e-global-typography-text-font-family: "Roboto";
     --e-global-typography-text-font-weight: 400;
     --flex-direction: initial;
     --flex-wrap: initial;
     --justify-content: initial;
     --align-items: initial;
     --align-content: initial;
     --gap: initial;
     --flex-basis: initial;
     --flex-grow: initial;
     --flex-shrink: initial;
     --order: initial;
     --align-self: initial;
}

@media (min-width: 1200px) {
     * {
          box-sizing: border-box;
     }

     .th-site__body {
          flex-grow: 1;
     }

     .th-site {
          min-height: 100%;
          display: flex;
          flex-direction: column;
          overflow: hidden;
     }

     body {
          height: 100%;
          margin: 0;
          overflow-y: scroll;
          text-align: left;
          direction: ltr;
          background: #fafafa;
          color: #262626;
          font-family: Roboto, "sans-serif";
          font-size: 16px;
          font-weight: 400;
          line-height: 1.5;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
     }
}

@media all {
     .elementor-kit-12731 {
          --e-global-color-text: #7A7A7A;
          --e-global-color-5e53500: #292727;
          --e-global-typography-text-font-family: "Roboto";
          --e-global-typography-text-font-weight: 400;
     }
}

@media (min-width: 1200px) {
     html {
          font-family: sans-serif;
          line-height: 1.15;
          -webkit-text-size-adjust: 100%;
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
          height: 100%;
     }

     :root {
          --th-link-color: #007bff;
          --th-link-hover-color: var(--th-link-color);
          --th-btn-primary-normal-bg-color: #e52727;
          --th-btn-primary-normal-font-color: #fff;
     }
}

:root {
     --th-btn-primary-normal-bg-color: #e52727;
     --th-btn-primary-normal-font-color: #ffffff;
     --th-link-color: #007BFF;
}

@media (min-width: 1200px) {

     *,
     :after,
     :before {
          box-sizing: border-box;
     }

     .th-container {
          width: 100%;
          padding-right: 15px;
          padding-left: 15px;
          margin-right: auto;
          margin-left: auto;
     }
}

@media (min-width: 576px) {
     .th-container {
          max-width: 540px;
     }
}

@media (min-width: 768px) {
     .th-container {
          max-width: 720px;
     }
}

@media (min-width: 992px) {
     .th-container {
          max-width: 960px;
     }
}

@media (min-width: 1200px) {
     .th-container {
          max-width: 1140px;
     }
}

@media (min-width: 1400px) {
     .th-container {
          max-width: 1380px;
     }
}

@media all {
     .th-page-content:after {
          display: block;
          content: "";
          clear: both;
     }

     .elementor * {
          box-sizing: border-box;
     }

     .elementor-element {
          --flex-direction: initial;
          --flex-wrap: initial;
          --justify-content: initial;
          --align-items: initial;
          --align-content: initial;
          --gap: initial;
          --flex-basis: initial;
          --flex-grow: initial;
          --flex-shrink: initial;
          --order: initial;
          --align-self: initial;
          flex-basis: var(--flex-basis);
          flex-grow: var(--flex-grow);
          flex-shrink: var(--flex-shrink);
          order: var(--order);
          align-self: var(--align-self);
     }

     .elementor-section {
          position: relative;
     }

     .elementor *,
     .elementor :after,
     .elementor :before {
          box-sizing: border-box;
     }

     .elementor-section .elementor-container {
          /* display: flex; */
          margin-right: auto;
          margin-left: auto;
          position: relative;
     }

     .elementor-section.elementor-section-boxed>.elementor-container {
          max-width: 1140px;
     }

     .elementor-column {
          position: relative;
          min-height: 1px;
          display: flex;
     }
}

@media (min-width: 768px) {
     .elementor-column.elementor-col-50 {
          width: 50%;
     }

     .elementor-column.elementor-col-100 {
          width: 100%;
     }
}

@media all {
     .elementor-widget-wrap {
          position: relative;
          width: 100%;
          flex-wrap: wrap;
          align-content: flex-start;
     }

     .elementor:not(.elementor-bc-flex-widget) .elementor-widget-wrap {
          display: flex;
     }

     .elementor-column-gap-default>.elementor-column>.elementor-element-populated {
          padding: 10px;
     }

     .elementor-element:where(.e-con-full, .elementor-widget) {
          flex-direction: var(--flex-direction);
          flex-wrap: var(--flex-wrap);
          justify-content: var(--justify-content);
          align-items: var(--align-items);
          align-content: var(--align-content);
          gap: var(--gap);
     }

     .elementor-widget {
          position: relative;
     }

     .elementor-widget-text-editor {
          color: var(--e-global-color-text);
          font-family: var(--e-global-typography-text-font-family), Sans-serif;
          font-weight: var(--e-global-typography-text-font-weight);
     }

     .elementor-widget-wrap>.elementor-element {
          width: 100%;
     }

     .elementor-widget:not(:last-child) {
          margin-bottom: 20px;
     }

     .elementor-6778 .elementor-element.elementor-element-2031354 {
          color: var(--e-global-color-5e53500);
     }

     .elementor-6778 .elementor-element.elementor-element-a850b5d {
          margin-top: 0px;
          margin-bottom: 15px;
     }

     .elementor-6778 .elementor-element.elementor-element-859bcc6 {
          color: #000000;
     }

     .elementor-6778 .elementor-element.elementor-element-c04ffda {
          color: #000000;
     }

     .elementor-element .elementor-widget-container {
          transition: background .3s, border .3s, border-radius .3s, box-shadow .3s, transform var(--e-transform-transition-duration, .4s);
     }
}

.elementor-widget-google_maps .elementor-widget-container {
     overflow: hidden;
}

@media (min-width: 1200px) {
     h5 {
          margin-top: 24px;
          margin-bottom: 24px;
          font-weight: 500;
          line-height: 1.25;
          font-size: 1.25rem;
     }

     h5:last-child {
          margin-bottom: 0;
     }
}

@media (min-width: 768px) {
     .elementor-6778 .elementor-element.elementor-element-6dae33e {
          width: 27.636%;
     }

     .elementor-6778 .elementor-element.elementor-element-c50feba {
          width: 72.364%;
     }
}

@media (min-width: 1200px) {
     p {
          margin-top: 24px;
          margin-bottom: 24px;
          line-height: 1.625;
     }

     p:first-child {
          margin-top: 0;
     }

     p:last-child {
          margin-bottom: 0;
     }
}

@media all {
     div.wpforms-container-full {
          background: none;
          border: 0 none;
          border-radius: 0;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          float: none;
          font-size: 100%;
          height: auto;
          letter-spacing: normal;
          list-style: none;
          outline: none;
          position: static;
          text-decoration: none;
          text-indent: 0;
          text-shadow: none;
          text-transform: none;
          width: auto;
          visibility: visible;
          overflow: visible;
          margin: 24px auto;
          padding: 0;
          box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          -ms-box-shadow: none;
          -o-box-shadow: none;
          box-shadow: none;
          margin-left: auto;
          margin-right: auto;
     }
}

.elementor-widget-google_maps .elementor-custom-embed {
     line-height: 0;
}

@media (min-width: 1200px) {
     strong {
          font-weight: bolder;
     }

     b {
          font-weight: bolder;
     }
}

@media all {
     .elementor iframe {
          max-width: 100%;
          width: 100%;
          margin: 0;
          line-height: 1;
          border: none;
     }
}

.elementor-widget-google_maps iframe {
     height: 300px;
}

.elementor-widget-image {
     text-align: center;
}

@media all {
     .elementor-6778 .elementor-element.elementor-element-1a79d4f {
          color: #292727;
          font-family: "Roboto", Sans-serif;
          font-size: 20px;
          font-weight: 400;
     }

     div.wpforms-container-full .wpforms-form * {
          background: none;
          border: 0 none;
          border-radius: 0;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          float: none;
          font-size: 100%;
          height: auto;
          letter-spacing: normal;
          list-style: none;
          outline: none;
          position: static;
          text-decoration: none;
          text-indent: 0;
          text-shadow: none;
          text-transform: none;
          width: auto;
          visibility: visible;
          overflow: visible;
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          -ms-box-shadow: none;
          -o-box-shadow: none;
          box-shadow: none;
     }

     div.wpforms-container-full .wpforms-form noscript.wpforms-error-noscript {
          color: #990000;
     }

     div.wpforms-container-full .wpforms-form .wpforms-recaptcha-container {
          padding: 10px 0 20px 0;
          clear: both;
     }

     div.wpforms-container-full .wpforms-form .wpforms-submit-container {
          padding: 10px 0 0 0;
          clear: both;
          position: relative;
     }

     div.wpforms-container-full .wpforms-form .wpforms-field {
          padding: 10px 0;
          clear: both;
     }
}

@media (min-width: 1200px) {
     input {
          margin: 0;
          font-family: inherit;
          font-size: inherit;
          line-height: inherit;
          overflow: visible;
     }
}

@media all {
     input[type="text"] {
          border-radius: 2px;
          background-clip: border-box;
          -webkit-appearance: none;
          appearance: none;
          -moz-appearance: textfield;
          transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, background .15s ease-in-out;
          color: #262626;
          background-color: #ebebeb;
          border: 1px solid #ebebeb;
          padding: 7.5px 10px;
          font-size: 16px;
          line-height: 19px;
          min-height: 36px;
          vertical-align: middle;
          max-width: 100%;
          width: 100%;
          font-family: inherit;
          height: 36px;
     }

     div.wpforms-container-full .wpforms-form input {
          margin: 0;
          border: 0;
          padding: 0;
          display: inline-block;
          vertical-align: middle;
          background: none;
          height: auto;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
     }

     div.wpforms-container-full .wpforms-form input[type="text"] {
          background-color: #fff;
          box-sizing: border-box;
          border-radius: 2px;
          color: #333;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          display: block;
          float: none;
          font-size: 16px;
          font-family: inherit;
          border: 1px solid #ccc;
          padding: 6px 10px;
          height: 38px;
          width: 100%;
          line-height: 1.3;
     }
}

@media (min-width: 1200px) {
     button {
          border-radius: 0;
          margin: 0;
          font-family: inherit;
          font-size: inherit;
          line-height: inherit;
          overflow: visible;
          text-transform: none;
     }

     [type="submit"],
     button {
          -webkit-appearance: button;
     }

     [type="submit"]:not(:disabled),
     button:not(:disabled) {
          cursor: pointer;
     }
}

@media all {
     div.wpforms-container-full .wpforms-form button {
          margin: 0;
          border: 0;
          padding: 0;
          display: inline-block;
          vertical-align: middle;
          background: none;
          height: auto;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
     }

     div.wpforms-container-full .wpforms-form button[type="submit"] {
          background-color: #eee;
          border: 1px solid #ddd;
          color: #333;
          font-size: 1em;
          padding: 10px 15px;
     }

     div.wpforms-container-full .wpforms-form button[type="submit"]:hover,
     div.wpforms-container-full .wpforms-form button[type="submit"]:active {
          background-color: #ddd;
          border: 1px solid #ccc;
          cursor: pointer;
     }
}

@media (min-width: 1200px) {
     img {
          border-style: none;
          vertical-align: middle;
     }
}

@media all {
     .elementor img {
          height: auto;
          max-width: 100%;
          border: none;
          border-radius: 0;
          box-shadow: none;
     }

     div.wpforms-container-full .wpforms-form .wpforms-submit-spinner {
          margin-left: 0.5em;
          display: inline-block;
          vertical-align: middle;
          max-width: 26px;
     }
}

.elementor-widget-image img {
     vertical-align: middle;
     display: inline-block;
}

@media (min-width: 1200px) {
     label {
          display: inline-block;
          margin-bottom: .25rem;
          font-size: 15px;
     }
}

@media all {
     div.wpforms-container-full .wpforms-form label {
          margin: 0;
          border: 0;
          padding: 0;
          display: inline-block;
          vertical-align: middle;
          background: none;
          height: auto;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
     }

     div.wpforms-container-full .wpforms-form .wpforms-field-label {
          display: block;
          font-weight: 700;
          font-size: 16px;
          float: none;
          line-height: 1.3;
          margin: 0 0 4px 0;
          padding: 0;
          word-break: break-word;
          word-wrap: break-word;
     }

     input[type="email"] {
          border-radius: 2px;
          background-clip: border-box;
          -webkit-appearance: none;
          appearance: none;
          -moz-appearance: textfield;
          transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, background .15s ease-in-out;
          color: #262626;
          background-color: #ebebeb;
          border: 1px solid #ebebeb;
          padding: 7.5px 10px;
          font-size: 16px;
          line-height: 19px;
          min-height: 36px;
          vertical-align: middle;
          max-width: 100%;
          width: 100%;
          font-family: inherit;
          height: 36px;
     }

     div.wpforms-container-full .wpforms-form input.wpforms-field-large {
          max-width: 100%;
     }

     div.wpforms-container-full .wpforms-form input[type="email"] {
          background-color: #fff;
          box-sizing: border-box;
          border-radius: 2px;
          color: #333;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          display: block;
          float: none;
          font-size: 16px;
          font-family: inherit;
          border: 1px solid #ccc;
          padding: 6px 10px;
          height: 38px;
          width: 100%;
          line-height: 1.3;
     }

     div.wpforms-container-full .wpforms-form .wpforms-field-row {
          margin-bottom: 8px;
          position: relative;
     }

     div.wpforms-container-full .wpforms-form .wpforms-field-row.wpforms-field-large {
          max-width: 100%;
     }

     div.wpforms-container-full .wpforms-form .wpforms-field .wpforms-field-row:last-of-type {
          margin-bottom: 0;
     }

     div.wpforms-container-full .wpforms-form .wpforms-field-row:before {
          content: " ";
          display: table;
     }

     div.wpforms-container-full .wpforms-form .wpforms-field-row:after {
          clear: both;
          content: " ";
          display: table;
     }
}

@media (min-width: 1200px) {
     textarea {
          margin: 0;
          font-family: inherit;
          font-size: inherit;
          line-height: inherit;
          overflow: auto;
          resize: vertical;
     }
}

@media all {
     textarea {
          border-radius: 2px;
          background-clip: border-box;
          -webkit-appearance: none;
          appearance: none;
          -moz-appearance: textfield;
          transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, background .15s ease-in-out;
          color: #262626;
          background-color: #ebebeb;
          border: 1px solid #ebebeb;
          padding: 7.5px 10px;
          font-size: 16px;
          line-height: 19px;
          min-height: 36px;
          vertical-align: middle;
          max-width: 100%;
          width: 100%;
          font-family: inherit;
     }

     div.wpforms-container-full .wpforms-form textarea {
          display: block;
          margin: 0;
          border: 1px solid #ccc;
          padding: 6px 10px;
          vertical-align: middle;
          background: none;
          height: 38px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          width: 100%;
          background-color: #fff;
          border-radius: 2px;
          color: #333;
          float: none;
          font-size: 16px;
          font-family: inherit;
          line-height: 1.3;
     }

     div.wpforms-container-full .wpforms-form textarea.wpforms-field-medium {
          height: 120px;
     }

     div.wpforms-container-full .wpforms-form .wpforms-recaptcha-container iframe {
          width: 100%;
          max-width: 100%;
     }

     div.wpforms-container-full .wpforms-form .wpforms-required-label {
          color: #ff0000;
          font-weight: 400;
     }

     div.wpforms-container-full .wpforms-form .wpforms-one-half {
          float: left;
          margin-left: 20px;
          clear: none;
          width: calc(50% - 10px);
     }

     div.wpforms-container-full .wpforms-form .wpforms-first {
          clear: both !important;
          margin-left: 0 !important;
     }
}

@media (min-width: 1200px) {
     a {
          text-decoration: none;
          background-color: transparent;
          color: #007bff;
          color: var(--th-link-color);
     }
}

@media all {
     .elementor a {
          box-shadow: none;
          text-decoration: none;
     }
}

@media (min-width: 1200px) {
     a:hover {
          color: var(--th-link-hover-color);
     }

     a,
     a:hover {
          color: #007bff;
          color: var(--th-link-color);
     }

     a:hover {
          text-decoration: none;
     }
}

@media all {
     div.wpforms-container-full .wpforms-form .wpforms-field-sublabel {
          display: block;
          font-size: 13px;
          float: none;
          font-weight: 400;
          line-height: 1.3;
          margin: 4px 0 0;
          padding: 0;
     }
}


/* These were inline style tags. Uses id+class to override almost everything */
#style-bOezf.style-bOezf {
     color: #ff0000;
}

#style-CR5yG.style-CR5yG {
     color: #ff0000;
}

#style-eb8xd.style-eb8xd {
     color: #ff0000;
}

#style-jX2yo.style-jX2yo {
     color: #ff0000;
}

#style-wHdHb.style-wHdHb {
     width: 304px;
     height: 78px;
}

#g-recaptcha-response.style-U3Xk7 {
     width: 250px;
     height: 40px;
     border: 1px solid rgb(193, 193, 193);
     margin: 10px 25px;
     padding: 0px;
     resize: none;
     display: none;
}

#style-TwGYy.style-TwGYy {
     display: none;
}

#style-fK65k.style-fK65k {
     position: absolute !important;
     clip: rect(0, 0, 0, 0) !important;
     height: 1px !important;
     width: 1px !important;
     border: 0 !important;
     overflow: hidden !important;
     padding: 0 !important;
     margin: 0 !important;
}

#style-ay91k.style-ay91k {
     display: none;
}