{% extends 'authentication/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'authentication/css/style.css' %}">
{% endblock %}


{% block content %}

    <div class="container">
        <div style="padding-top: 70px"></div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <h3><i class="fa fa-key fa-4x"></i></h3>
                            <h2 class="text-center">Recover Password?</h2>
                            <p>Enter your new password.</p>
                            <div class="panel-body">

                                <form id="recover-form" role="form" autocomplete="off" class="form" method="post">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-lock color-blue"></i></span>
                                            <input id="password" name="password" placeholder="Enter password" class="form-control"  type="password" required="">
                                        </div><br>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-lock color-blue"></i></span>
                                            <input id="password1" name="password1" placeholder="Enter password again" class="form-control"  type="password" data-parsley-equalto="#password" data-parsley-trigger="change" required="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input id="recover_submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit">
                                    </div>

                                    <input type="hidden" class="hide" name="uuid" id="uuid" value="{{ data.uuid }}">
                                    <p id="message" hidden>Password recovered successfully. Please login to continue</p>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        const recover_password_now_api_url = "{% url 'core:authentication:api:v1:recover_password_now' %}";
        const login_api_url = "{% url 'core:authentication:api:v1:login' %}";
        // const login_page_banner_api_url = "{% url 'main:home:api:v1:login_page_banners_list' %}";
        const account_activation_page = false;
        const recover_password_page = true;
    </script>

    <!-- Authentication JS -->
    <script src="{% static 'authentication/js/authentication.js' %}?v={{JS_VERSION}}"></script>
{% endblock %}
