{% load static %}

<link rel="stylesheet" href="{% static 'admin_base/vendor/fontawesome-free/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'admin_base/css/sb-admin-2.min.css' %}">
<!-- Custom styles for this page -->
<link href="{% static 'admin_base/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
<link href="{% static 'admin_base/vendor/multiselect/multi-select.css' %}" rel="stylesheet">

<link href="{% static 'admin_base/vendor/datatables/buttons.bootstrap4.min.css' %}" rel="stylesheet">
<link href="{% static 'admin_base/vendor/datatables/buttons.bootstrap4.min.css' %}" rel="stylesheet">
<link href="{% static 'admin/css/vendor/select2/select2.min.css' %}" rel="stylesheet">
<link href="{% static 'admin_base/vendor/printjs/print.min.css' %}" rel="stylesheet">


<!-- Common style sheet of this project -->
<link rel="stylesheet" href="{% static 'admin_base/css/common.css' %}">
