header {
    color: white;
    background: #ff6666;
}

.contain {
    width: 100%;
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    
}
.aa-head-top-nav-right li a {
    color: white !important;
}

.text-yellow {
    color: #f5f101;
}

#login-page {
    width: 420px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    backdrop-filter: blur(40px);
    border: 2px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 30px 40px;
}


#login_page_body {
    width: 420px;
}

#login_page_body h4 {
    font-size: 36px;
    text-align: center;
}

#login_page_body img {
    max-width: 10em;
    display: block;
    margin: 0 auto;
}
#login_page_body .aa-Register-now a {
    color: #ff6666
}
#login_page_body .aa-Register-now a:hover {
    text-decoration: underline;
}
#login_page_body .aa-lost-password a:hover {
    text-decoration: underline;
}
#login_page_body .aa-lost-password{
    padding: 0 0 0 20px;
}
#login_page_body .aa-browse-btn {
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    height: 45px;
}
.contain input {
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: rgb(17, 2, 2);
    padding: 20px 45px 20px 20px; 
}

.login-failed {
    color: red;
    display: none;
}

.registration-failed {
    color: red;
    display: none;
}
.registration-failed ul li{
    list-style: inside;
}

#registration_success {
    background-color: yellow;
    text-align: center;
}

#account_activation_success {
    display: none;
}

#account_activation_failed {
    display: none;
}

.promotional-section {
    width: 0%;
}

.promotional-section a{
    display: block;
    margin-top: 10px;
}

.promotional-section img{
    width: 100%;
}


@media only screen and (max-width: 600px) {
    #login-page {
        display: block;
        width: 90% !important;
    }

    #login_page_body {
        width: 100%;
        display: block;
    }

    .promotional-section {
        width: 100%;
        display: block;
        float: none;
    }
}
