{% extends 'base/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet"
          href="{% static 'user_panel/css/your_information_style.css' %}">
{% endblock %}


{% block content %}
    <!-- General notice for all -->
    {% include 'home/notice.html' %}
    <!-- Start menu -->
    {% include 'home/nav_category.html' %}
    <!-- / menu -->
    <div style="display: inline-block; width: 100%;">
        <div id="wrapper">
            <!-- Sidebar -->
            {% include 'user_panel/sidebar.html' %}
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <button class="btn btn-primary" id="menu-toggle">Toggle
                        Menu
                    </button>
                </nav>
                <div class="container-fluid">
                    <div id="user_information">
                        <div id="account_center" class="account_center">
                            <h3>Account Center</h3>
                            <h5>Company:
                                <strong>{{ request.user.company_name }}</strong>
                                <span>Password email address: <strong>{{ request.user.email }}</strong></span>
                            </h5>

                        </div>
                        <div id="account_information"
                             class="account_information">
                            <h4>Account Information</h4>
                            <table>
                                <tr>
                                    <td><h5>Main Contact: </h5></td>
                                    <td><h5>
                                        <strong>{{ request.user.name }}</strong>
                                    </h5></td>
                                </tr>
                                <tr>
                                    <td><h5>Address: </h5></td>
                                    <td><h5>
                                        <strong>{{ request.user.company_address }}</strong>
                                    </h5></td>
                                </tr>
                                <tr>
                                    <td><h5>Phone Number: </h5></td>
                                    <td><h5>
                                        <strong>{{ request.user.phone }}</strong>
                                    </h5></td>
                                </tr>
                                <tr>
                                    <td><h5>Email Address: </h5></td>
                                    <td><h5>
                                        <strong>{{ request.user.email }}</strong>
                                    </h5></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <br>
                    <hr>
                    <br>
                    <form id="user_edit" data-parsley-validate
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset>
                            <legend>Change your password</legend>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="password">Password:</label>
                                        <input type="password"
                                               class="form-control"
                                               id="password"
                                               name="password"
                                               placeholder="Enter password here."
                                               required
                                        >
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="password1">Confirm
                                            Password:</label>
                                        <input type="password"
                                               class="form-control"
                                               id="password1"
                                               name="password1"
                                               placeholder="Retype password here."
                                               data-parsley-equalto="#password"
                                               data-parsley-trigger="change"
                                               required
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="failed"></div>

                            <input type="submit"
                                   class="btn btn-primary btn-user btn-block">
                        </fieldset>
                    </form>
                </div>
            </div>
            <!-- /#page-content-wrapper -->

        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        const user_api_url = "{% url 'apps:rbac:api:v1:user-list' %}";
        const update_own_profile_info_api_url = "{% url 'apps:rbac:api:v1:update_own_profile_info' %}";
        const uuid = "{{ request.user.uuid }}";
        const nav_category_api_url = "{% url 'apps:home:api:v1:nav_category-list' %}";
        const notice_category_api_url = "{% url 'apps:home:api:v1:notice-list' %}";
    </script>

    <!-- General Notice JS -->
    <script src="{% static 'home/js/notice.js' %}?v={{JS_VERSION}}"></script>

    <!-- NavCategory JS -->
    <script src="{% static 'home/js/nav_category.js' %}?v={{JS_VERSION}}"></script>
    <!-- My account JS -->
    <script src="{% static 'user_panel/js/your_information.js' %}?v={{JS_VERSION}}"></script>
{% endblock %}

