{% extends 'admin_base/base.html' %}
{% load static %}
{% block css %}
{% endblock %}

{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Table Type</h1>
        <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate
            Report</a> -->
    </div>
    <p class="mb-4">
        <!-- Only active table_type will be shown in home page.
        Table Types are awesome for user experience.
        Please make sure you have full HD table_type images. -->
    </p>


    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Table Type Add</h6>
        </div>
        <div class="card-body">
            <form id="table_type_add" data-parsley-validate enctype="multipart/form-data">
                <div class="form-table_type">
                    <label for="name">Name: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="name" name="name" data-parsley-maxlength="50"
                        placeholder="Enter table_type name here (max 50 chars)." required>
                </div>

                <div class="form-table_type">
                    <div class="custom-control custom-checkbox small">
                        <input type="checkbox" class="custom-control-input" id="is_active" name="is_active">
                        <label class="custom-control-label" for="is_active">Active</label>
                    </div>
                </div>

                <input type="submit" class="btn btn-primary float-right">
            </form>
        </div>
    </div>

</div>
{% endblock %}


{% block js %}
<script>
    const page_type = "add";
    const api_urls = {
        "table_type_list": "{% url 'apps:table:api:v1:table_type-list-create' %}",
    }
    const table_type_list_url = "{% url 'admin:admin_table:table_type_list' %}";
</script>

<!-- Table Type JS -->
<script type="module" src="{% static 'admin_table/js/table_type.js' %}?v={{JS_VERSION}}"></script>
{% endblock %}