{% extends 'admin_base/base.html' %}
{% load static %}
{% block css %}
{% endblock %}

{% block content %}
    {% csrf_token %}
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">User</h1>
            {#        <a href="#"#}
            {#           class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i#}
            {#                class="fas fa-download fa-sm text-white-50"></i> Generate#}
            {#            Report</a>#}
        </div>
        <p class="mb-4">
            Users are valuable. See list of Registered user.
            Only active staff can be an admin of this system.
        </p>


        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">User List</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover row-select" id="userDataTable">
                    </table>
                </div>
            </div>
        </div>

    </div>
{% endblock %}


{% block js %}
    <script>
        const user_api_url = "{% url 'apps:rbac:api:v1:user-list-create' %}";
        const user_add_url = "{% url 'admin:admin_rbac:user_add' %}";
    </script>

    <!-- User JS -->
    <script src="{% static 'admin_rbac/js/user.js' %}?v={{JS_VERSION}}"></script>
{% endblock %}
