{% extends 'admin_base/base.html' %}
{% load static %}
{% block css %}
{% endblock %}

{% block content %}
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Order</h1>
            {#        <a href="#"#}
            {#           class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i#}
            {#                class="fas fa-download fa-sm text-white-50"></i> Generate#}
            {#            Report</a>#}
        </div>
        <p class="mb-4">
            Get all orders in one place.
        </p>


        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">User Add</h6>
            </div>
            <div class="card-body">
                <form id="user_add" data-parsley-validate
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">Name: <span
                                        class="text-danger">*</span></label>
                                <input type="text"
                                       class="form-control"
                                       id="name"
                                       name="name"
                                       data-parsley-maxlength="256"
                                       placeholder="Enter name here (max 256 chars)."
                                       required
                                >
                            </div>

                            <div class="form-group">
                                <label for="email">Email: <span
                                        class="text-danger">*</span></label>
                                <input type="email"
                                       class="form-control"
                                       id="email"
                                       name="email"
                                       placeholder="Enter email address here."
                                       required
                                >
                            </div>

                            <div class="form-group">
                                <label for="phone">Phone: <span
                                        class="text-danger">*</span></label>
                                <input type="text"
                                       class="form-control"
                                       id="phone"
                                       name="phone"
                                       data-parsley-maxlength="12"
                                       placeholder="Enter phone number here (max 12 chars)."
                                       required
                                >
                            </div>

                            <div class="form-group">
                                <label for="position">Position:</label>
                                <input type="text"
                                       class="form-control"
                                       id="position"
                                       name="position"
                                       data-parsley-maxlength="50"
                                       placeholder="Enter position here (max 50 chars)."
                                >
                            </div>

                            <div class="form-group">
                                <label for="password">Password: <span
                                        class="text-danger">*</span></label>
                                <input type="password"
                                       class="form-control"
                                       id="password"
                                       name="password"
                                       placeholder="Enter password here."
                                       required
                                >
                            </div>

                            <div class="form-group">
                                <label for="password1">Confirm Password: <span
                                        class="text-danger">*</span></label>
                                <input type="password"
                                       class="form-control"
                                       id="password1"
                                       name="password1"
                                       placeholder="Retype password here."
                                       data-parsley-equalto="#password"
                                       data-parsley-trigger="change"
                                       required
                                >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="company_name">Company Name: <span
                                        class="text-danger">*</span></label>
                                <input type="text"
                                       class="form-control"
                                       id="company_name"
                                       name="company_name"
                                       data-parsley-maxlength="256"
                                       placeholder="Enter company name here (max 256 chars)."
                                       required
                                >
                            </div>

                            <div class="form-group">
                                <label for="company_email">Company Email: <span
                                        class="text-danger">*</span></label>
                                <input type="email"
                                       class="form-control"
                                       id="company_email"
                                       name="company_email"
                                       placeholder="Enter company email here"
                                       required
                                >
                            </div>

                            <div class="form-group">
                                <label for="company_address">Company Address:
                                    <span class="text-danger">*</span></label>
                                <textarea type="text"
                                          class="form-control"
                                          id="company_address"
                                          name="company_address"
                                          rows="8"
                                          placeholder="Write company address here."
                                          required
                                ></textarea>
                            </div>

                            <div class="form-group">
                                <label for="company_employee_count">Company
                                    Employee Amount: <span class="text-danger">*</span></label>
                                <input type="number"
                                       class="form-control"
                                       id="company_employee_count"
                                       name="company_employee_count"
                                       placeholder="How many employee works in your company?"
                                       required
                                >
                            </div>
                        </div>
                    </div>

                    <hr>
                    <div class="text-center">
                    <span class="text-primary">Upload Documents</span>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="company_application_document">Application
                                    Document: <span
                                            class="text-danger">*</span></label>
                                <input type="file"
                                       class="form-control"
                                       id="company_application_document"
                                       name="company_application_document"
                                       required
                                >
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="company_store_front">Store Front:
                                    <span class="text-danger">*</span></label>
                                <input type="file"
                                       class="form-control"
                                       id="company_store_front"
                                       name="company_store_front"
                                       required
                                >
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="company_commercial_location">Commercial
                                    Location: <span
                                            class="text-danger">*</span></label>
                                <input type="file"
                                       class="form-control"
                                       id="company_commercial_location"
                                       name="company_commercial_location"
                                       required
                                >
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="company_reseller_permit">Reseller
                                    Permit: <span class="text-danger">*</span></label>
                                <input type="file"
                                       class="form-control"
                                       id="company_reseller_permit"
                                       name="company_reseller_permit"
                                       required
                                >
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="company_retail_sales_floor">Retail
                                    Sales Floor: <span
                                            class="text-danger">*</span></label>
                                <input type="file"
                                       class="form-control"
                                       id="company_retail_sales_floor"
                                       name="company_retail_sales_floor"
                                       required
                                >
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox small">
                            <input type="checkbox" class="custom-control-input"
                                   id="is_staff" name="is_staff">
                            <label class="custom-control-label" for="is_staff">Staff (can access admin panel)</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="custom-control custom-checkbox small">
                            <input type="checkbox" class="custom-control-input"
                                   id="is_active" name="is_active">
                            <label class="custom-control-label"
                                   for="is_active">Active (can access the system)</label>
                        </div>
                    </div>

                    <div class="failed"></div>

                    <input type="submit"
                           class="btn btn-primary btn-user btn-block">
                </form>
            </div>
        </div>

    </div>
{% endblock %}


{% block js %}
    <script>
        const user_api_url = "{% url 'apps:rbac:api:v1:user-list' %}";
        const user_list_url = "{% url 'admin:admin_rbac:user_list' %}";
        const page = 'add';
    </script>

    <!-- user JS -->
    <script src="{% static 'admin_order/js/order.js' %}?v={{JS_VERSION}}"></script>
{% endblock %}
