{% extends 'admin_base/base.html' %}
{% load static %}
{% block css %}
{% endblock %}

{% block content %}
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Order</h1>
            {#        <a href="#"#}
            {#           class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i#}
            {#                class="fas fa-download fa-sm text-white-50"></i> Generate#}
            {#            Report</a>#}
        </div>
        <p class="mb-4">
            Get all orders in one place.
        </p>


        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Order Details</h6>
            </div>
            <div class="card-body">
                <div id="order_detail"></div>
            </div>
        </div>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Actions</h6>
            </div>
            <div class="card-body">
                <form id="order_detail_form" data-parsley-validate>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div id="status-radio-buttons">
                                    <input type="radio" id="order_placed" name="status" value="order_placed">
                                    <label for="order_placed">Order Placed</label><br>
                                
                                    <input type="radio" id="food_preparation" name="status" value="food_preparation">
                                    <label for="food_preparation">Food Preparation</label><br>
                                
                                    <input type="radio" id="food_ready" name="status" value="food_ready">
                                    <label for="food_ready">Food Ready</label><br>
                                
                                    <input type="radio" id="out_for_delivery" name="status" value="out_for_delivery">
                                    <label for="out_for_delivery">Out for Delivery</label><br>
                                
                                    <input type="radio" id="on_your_table" name="status" value="on_your_table">
                                    <label for="on_your_table">On Your Table</label><br>
                                
                                    <input type="radio" id="ready_to_indulge" name="status" value="ready_to_indulge">
                                    <label for="ready_to_indulge">Ready to Indulge</label><br>
                                
                                    <input type="radio" id="payment_ready" name="status" value="payment_ready">
                                    <label for="payment_ready">Payment Ready</label><br>
                                
                                    <input type="radio" id="payment_done" name="status" value="payment_done">
                                    <label for="payment_done">Payment Done</label><br>
                                
                                    <input type="radio" id="canceled" name="status" value="canceled">
                                    <label for="canceled">Canceled</label><br>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                    <br>

                    <input type="submit"
                           id="submit_changes"
                           class="btn btn-primary btn-user btn-block">
                </form>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script>
        const order_api_url = "{% url 'apps:order:dashboard_api:v1:order_list_create' %}";
        const uuid = "{{ uuid }}";
        const page = 'edit';
    </script>

    <!-- user JS -->
    <script src="{% static 'admin_order/js/order.js' %}?v={{JS_VERSION}}"></script>
{% endblock %}
