<section id="aa-banner" class="aa-banner_{{ banner_id }}" style="display: none">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="aa-banner-area">
                        <!--            <a href="#"><img src="img/fashion-banner.jpg" alt="fashion banner img"></a>-->
                        <a href="#"><img
                                src=""
                                alt="fashion banner img" width="1170"
                                height="170"></a>
                        <!--            <a href="#"><img src="https://www.eonon.com/img/2021newyeardeals/listbanner-newyeardeals-2021.png" alt="fashion banner img" width="1170" height="170"></a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
