<section id="menu">
    <div class="container">
        <div class="menu-area">
            <!-- Navbar -->
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"
                            data-toggle="collapse"
                            data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <!-- Left nav -->
                    <ul class="nav navbar-nav">
                        <li ><a href="/">Home</a></li>
{#                        <li><a href="#">Shop by category <span#}
{#                                class="caret"></span></a>#}
{#                            <ul class="dropdown-menu">#}
{#                                <li><a href="#">All Category<span#}
{#                                        class="caret"></span></a>#}
{#                                    <ul class="dropdown-menu">#}
{#                                        <li><a href="#">Cargo</a></li>#}
{#                                        <li><a href="#">Chemical & Tool</a>#}
{#                                        </li>#}
{#                                        <li><a href="#">Drivetrain & Brakes</a>#}
{#                                        </li>#}
{#                                        <li><a href="#">Engine</a></li>#}
{#                                        <li><a href="#">Exhaust</a></li>#}
{#                                        <li><a href="#">Exterior</a></li>#}
{#                                        <li><a href="#">Interior</a></li>#}
{#                                        <li><a href="#">Lighting &#}
{#                                            Electronics</a></li>#}
{#                                        <li><a href="#">Suspension</a></li>#}
{#                                        <li><a href="#">Towing</a></li>#}
{#                                        <li><a href="#">Wheel & Tire</a></li>#}
{#                                    </ul>#}
{#                                <li><a href="#">Overlanding</a></li>#}
{#                                <li><a href="#">RV</a></li>#}
{#                                <li><a href="#">Marine</a></li>#}
{#                                <li><a href="#">Trailer Parts</a></li>#}
{#                                <li><a href="#">Shop All Suppliers</a></li>#}
{#                                </li>#}
{#                            </ul>#}
{#                        </li>#}
{#                        <li><a href="#">Whats New <span#}
{#                                class="caret"></span></a>#}
{#                            <ul class="dropdown-menu">#}
{#                                <li><a href="#">New Products</a></li>#}
{#                                <li><a href="#">New Brands</a></li>#}
{#                                <li><a href="#">New Inventory</a></li>#}
{#                                <li><a href="#">View All Suppliers</a></li>#}
{#                            </ul>#}
{#                        </li>#}
{#                        <li><a href="#">Rebates & Promos <span#}
{#                                class="caret"></span></a>#}
{#                            <ul class="dropdown-menu">#}
{#                                <li><a href="#">Rebates & Promos</a></li>#}
{#                                <li><a href="#">Clearance Corner</a></li>#}
{#                            </ul>#}
{#                        </li>#}
{#                        <li><a href="#">Marketing Garage <span#}
{#                                class="caret"></span></a>#}
{#                            <ul class="dropdown-menu">#}
{#                                <li><a href="#">eKey Mobile App</a></li>#}
{#                                <li><a href="#">Social Share</a></li>#}
{#                                <li><a href="#">Email Share</a></li>#}
{#                                <li><a href="#">Publications</a></li>#}
{#                                <li><a href="#">Ad Designer</a></li>#}
{#                            </ul>#}
{#                        </li>#}
{#                        <li><a href="blog-archive.html">GIS Interactive#}
{#                            Garage <span class="caret"></span></a>#}
{#                            <ul class="dropdown-menu">#}
{#                                <li><a href="blog-archive.html">Launch The#}
{#                                    Visualizer</a></li>#}
{#                                <li><a href="blog-archive-2.html">How It#}
{#                                    Works</a></li>#}
{#                                <li><a href="blog-single.html">Plan#}
{#                                    Comparison</a></li>#}
{#                                <li><a href="blog-single.html">Upgrade To KIG#}
{#                                    Custom</a></li>#}
{#                                <li><a href="blog-single.html">Tips &#}
{#                                    Tricks</a></li>#}
{#                            </ul>#}
{#                        </li>#}
                        <!--              <li><a href="contact.html">Contact</a></li>-->
                        <!--              <li><a href="#">Pages <span class="caret"></span></a>-->
                        <!--                <ul class="dropdown-menu">                -->
                        <!--                  <li><a href="product.html">Shop Page</a></li>-->
                        <!--                  <li><a href="product-detail.html">Shop Single</a></li>                -->
                        <!--                  <li><a href="404.html">404 Page</a></li>                -->
                        <!--                </ul>-->
                        <!--              </li>-->
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
</section>

