{% extends 'admin_base/base.html' %}
{% load static %}
{% block css %}
    <style>
        .selected {
            background-color: rgba(0,0,0,.075);
        }
    </style>
{% endblock %}

{% block content %}
    {% csrf_token %}
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Expense</h1>
            {#        <a href="#"#}
            {#           class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i#}
            {#                class="fas fa-download fa-sm text-white-50"></i> Generate#}
            {#            Report</a>#}
        </div>
        <p class="mb-4">
            Expenses
        </p>


        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Expense List</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover row-select" id="expenseDataTable">
                    </table>
                </div>
            </div>
        </div>

    </div>
{% endblock %}


{% block js %}
    <script>
        const page = 'list'
        const expense_api_url = "{% url 'apps:user_panel:api:v1:expense-list' %}";
        const expense_add_url = "{% url 'admin:admin_others:expense_add' %}";
    </script>

    <!-- Expense JS -->
    <script src="{% static 'admin_others/js/expense.js' %}?v={{JS_VERSION}}"></script>
{% endblock %}
