{% extends 'admin_base/base.html' %}
{% load static %}
{% block css %}
{% endblock %}

{% block content %}
{% csrf_token %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Attribute</h1>
        <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> Generate
            Report
        </a> -->
    </div>
    <p class="mb-4">
        <!-- Only active brand will be shown in home page.
        Brands are awesome for user experience.
        Please make sure you have full HD brand images. -->
    </p>


    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Attribute List</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover row-select" id="dataTable">
                </table>
            </div>
        </div>
    </div>

</div>
{% endblock %}


{% block js %}
<script>
    const page_type = "list";
    const api_urls = {
        "attribute_list": "{% url 'apps:inventory:api:v1:attribute-list-create' %}",
    }
    const attribute_add_url = "{% url 'admin:admin_inventory:attribute_add' %}";
</script>

<!-- Attribute JS -->
<script src="{% static 'admin_inventory/js/attribute.js' %}?v={{JS_VERSION}}"></script>
{% endblock %}