{% extends 'admin_base/base.html' %}
{% load static %}
{% block css %}
{% endblock %}

{% block content %}
    {% csrf_token %}
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Banner</h1>
            {#        <a href="#"#}
            {#           class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i#}
            {#                class="fas fa-download fa-sm text-white-50"></i> Generate#}
            {#            Report</a>#}
        </div>
        <p class="mb-4">
            Set banner in different pages.
            Gif's are better than image's as a banner.
            Please make sure you have full HD banner images.
        </p>


        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Banner List</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover row-select" id="bannerDataTable">
                    </table>
                </div>
            </div>
        </div>

    </div>
{% endblock %}


{% block js %}
    <script>
        const banner_api_url = "{% url 'main:home:api:v1:banner-list' %}";
        const banner_add_url = "{% url 'admin:admin_home:banner_add' %}";
    </script>

    <!-- Banner JS -->
    <script src="{% static 'admin_home/js/banner.js' %}?v={{JS_VERSION}}"></script>
{% endblock %}
