{% extends 'base/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'home/css/custom_page/about_us/style.css' %}">
<!-- <link rel="stylesheet" href="{% static 'home/css/custom_page/about_us/responsive.css' %}"> -->
{% endblock %}


{% block content %}
<!-- General notice for all -->
{% include 'home/notice.html' %}
<!-- Start menu -->
{% include 'home/nav_category.html' %}
<!-- / menu -->
<!-- <div id="about_us_body"> -->
   <article id="post-7134" class="post-7134 page type-page status-publish hentry snipcss-G37Vk style-GLrHO">
      <div class="entry-content th-container">
         <div class="th-page-content">
            <div data-elementor-type="wp-page" data-elementor-id="7134" class="elementor elementor-7134">
               <section
                  class="elementor-section elementor-top-section elementor-element elementor-element-1cd3de54 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                  data-id="1cd3de54" data-element_type="section">
                  <div class="elementor-container elementor-column-gap-default">
                     <div
                        class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-52c9301d"
                        data-id="52c9301d" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                           <div
                              class="elementor-element elementor-element-29a2465 elementor-widget elementor-widget-spacer"
                              data-id="29a2465" data-element_type="widget" data-widget_type="spacer.default">
                              <div class="elementor-widget-container">
                                 <style>
                                    /*! elementor - v3.12.1 - 02-04-2023 */
                                    .elementor-column .elementor-spacer-inner {
                                       height: var(--spacer-size)
                                    }

                                    .e-con {
                                       --container-widget-width: 100%
                                    }

                                    .e-con-inner>.elementor-widget-spacer,
                                    .e-con>.elementor-widget-spacer {
                                       width: var(--container-widget-width, var(--spacer-size));
                                       --align-self: var(--container-widget-align-self, initial);
                                       --flex-shrink: 0
                                    }

                                    .e-con-inner>.elementor-widget-spacer>.elementor-widget-container,
                                    .e-con-inner>.elementor-widget-spacer>.elementor-widget-container>.elementor-spacer,
                                    .e-con>.elementor-widget-spacer>.elementor-widget-container,
                                    .e-con>.elementor-widget-spacer>.elementor-widget-container>.elementor-spacer {
                                       height: 100%
                                    }

                                    .e-con-inner>.elementor-widget-spacer>.elementor-widget-container>.elementor-spacer>.elementor-spacer-inner,
                                    .e-con>.elementor-widget-spacer>.elementor-widget-container>.elementor-spacer>.elementor-spacer-inner {
                                       height: var(--container-widget-height, var(--spacer-size))
                                    }
                                 </style>
                                 <div class="elementor-spacer">
                                    <div class="elementor-spacer-inner">
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div
                              class="elementor-element elementor-element-5f089d5 elementor-widget elementor-widget-image"
                              data-id="5f089d5" data-element_type="widget" data-widget_type="image.default">
                              <div class="elementor-widget-container">
                                 <style>
                                    /*! elementor - v3.12.1 - 02-04-2023 */
                                    .elementor-widget-image {
                                       text-align: center
                                    }

                                    .elementor-widget-image a {
                                       display: inline-block
                                    }

                                    .elementor-widget-image a img[src$=".svg"] {
                                       width: 48px
                                    }

                                    .elementor-widget-image img {
                                       vertical-align: middle;
                                       display: inline-block
                                    }
                                 </style>
                                 <img decoding="async" width="681" height="384"
                                    src="https://giswholesale.com/wp-content/uploads/2023/03/gis-abr.png"
                                    class="attachment-large size-large wp-image-16902" alt="" loading="lazy"
                                    srcset="https://giswholesale.com/wp-content/uploads/2023/03/gis-abr.png 681w, https://giswholesale.com/wp-content/uploads/2023/03/gis-abr-300x169.png 300w, https://giswholesale.com/wp-content/uploads/2023/03/gis-abr-560x316.png 560w, https://giswholesale.com/wp-content/uploads/2023/03/gis-abr-600x338.png 600w"
                                    sizes="(max-width: 681px) 100vw, 681px">
                              </div>
                           </div>
                        </div>
                     </div>
                     <div
                        class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-c5b1c38"
                        data-id="c5b1c38" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                           <div
                              class="elementor-element elementor-element-5f0d493 elementor-widget elementor-widget-text-editor"
                              data-id="5f0d493" data-element_type="widget" data-widget_type="text-editor.default">
                              <div class="elementor-widget-container">
                                 <style>
                                    /*! elementor - v3.12.1 - 02-04-2023 */
                                    .elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
                                       background-color: #69727d;
                                       color: #fff
                                    }

                                    .elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap {
                                       color: #69727d;
                                       border: 3px solid;
                                       background-color: transparent
                                    }

                                    .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap {
                                       margin-top: 8px
                                    }

                                    .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter {
                                       width: 1em;
                                       height: 1em
                                    }

                                    .elementor-widget-text-editor .elementor-drop-cap {
                                       float: left;
                                       text-align: center;
                                       line-height: 1;
                                       font-size: 50px
                                    }

                                    .elementor-widget-text-editor .elementor-drop-cap-letter {
                                       display: inline-block
                                    }
                                 </style>
                                 <p>
                                    At
                                    <strong>
                                       GIS WHOLESALE
                                    </strong>
                                    , we are committed to providing our customers with the most versatile and
                                    high-quality hand tools on the market. We offer a wide range of premium hand tool
                                    brands too meet even the most rigorous construction and repair needs. From HVAC tool
                                    suppliers to leading manufacturers like Snap-On, we’ve got you covered!
                                 </p>
                                 <p>
                                    As a leading distributor of industrial, and safety products, we serve a wide variety
                                    of customers. Our solutions are relied upon by manufacturers, warehouses,
                                    metalworking facilities, B2B wholesale, everyday customers, and many more. Our
                                    extensive inventory also allows us to cater to industries such as powersports and
                                    hardware retailers.
                                 </p>
                                 <p>
                                    We are dedicated to maintaining our position as a trusted and reliable source for
                                    all of our customers’ industrial and safety needs. With our comprehensive selection
                                    of high-quality hand tools and supplies, we are confident that we can help you find
                                    the right products to meet your specific requirements.
                                 </p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </section>
               <section
                  class="elementor-section elementor-top-section elementor-element elementor-element-8522db9 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                  data-id="8522db9" data-element_type="section">
                  <div class="elementor-container elementor-column-gap-default">
                     <div
                        class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e89e47c"
                        data-id="e89e47c" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                           <div
                              class="elementor-element elementor-element-9d8ac02 elementor-widget elementor-widget-heading"
                              data-id="9d8ac02" data-element_type="widget" data-widget_type="heading.default">
                              <div class="elementor-widget-container">
                                 <style>
                                    /*! elementor - v3.12.1 - 02-04-2023 */
                                    .elementor-heading-title {
                                       padding: 0;
                                       margin: 0;
                                       line-height: 1
                                    }

                                    .elementor-widget-heading .elementor-heading-title[class*=elementor-size-]>a {
                                       color: inherit;
                                       font-size: inherit;
                                       line-height: inherit
                                    }

                                    .elementor-widget-heading .elementor-heading-title.elementor-size-small {
                                       font-size: 15px
                                    }

                                    .elementor-widget-heading .elementor-heading-title.elementor-size-medium {
                                       font-size: 19px
                                    }

                                    .elementor-widget-heading .elementor-heading-title.elementor-size-large {
                                       font-size: 29px
                                    }

                                    .elementor-widget-heading .elementor-heading-title.elementor-size-xl {
                                       font-size: 39px
                                    }

                                    .elementor-widget-heading .elementor-heading-title.elementor-size-xxl {
                                       font-size: 59px
                                    }
                                 </style>
                                 <h2 class="elementor-heading-title elementor-size-default">
                                    Why do customers choose GIS Wholesale?
                                 </h2>
                              </div>
                           </div>
                           <section
                              class="elementor-section elementor-inner-section elementor-element elementor-element-84f5f63 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                              data-id="84f5f63" data-element_type="section">
                              <div class="elementor-container elementor-column-gap-default">
                                 <div
                                    class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-c92bd08"
                                    data-id="c92bd08" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                       <div
                                          class="elementor-element elementor-element-1518729 elementor-widget elementor-widget-text-editor"
                                          data-id="1518729" data-element_type="widget"
                                          data-widget_type="text-editor.default">
                                          <div class="elementor-widget-container">
                                             <p>
                                                At GIS Wholesale, our customers choose us for a number of reasons. We
                                                take pride in our exceptional customer service and quick shipping, which
                                                has helped us build a loyal and satisfied customer base. Our product
                                                offerings include tools and auto parts from renowned and trusted brands,
                                                as well as a wide range of equipment for linemen and iron workers.
                                                Additionally, we offer specialty tools designed for HVAC, sheet metal,
                                                tubing, telecommunications, and a variety of multi-purpose applications.
                                             </p>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div
                                    class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-ebcb194"
                                    data-id="ebcb194" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                       <div
                                          class="elementor-element elementor-element-67e1fcd elementor-widget elementor-widget-text-editor"
                                          data-id="67e1fcd" data-element_type="widget"
                                          data-widget_type="text-editor.default">
                                          <div class="elementor-widget-container">
                                             <p>
                                                At GIS Wholesale, we carry series of tools that are specifically
                                                designed to meet the needs of professional tradespeople in the concrete,
                                                asphalt, drywall, and flooring industries. Our line of hand tools
                                                includes precision-made trowels, runners, and everything else needed for
                                                placing and finishing concrete to the highest standards.
                                             </p>
                                          </div>
                                       </div>
                                       <div
                                          class="elementor-element elementor-element-8c1f4c2 elementor-widget elementor-widget-heading"
                                          data-id="8c1f4c2" data-element_type="widget"
                                          data-widget_type="heading.default">
                                          <div class="elementor-widget-container">
                                             <h2 class="elementor-heading-title elementor-size-default">
                                                To learn more about our extensive line of hand tools, please don't
                                                hesitate to
                                                <a href="https://giswholesale.com/contact" id="style-KaVDF"
                                                   class="style-KaVDF">
                                                   contact us
                                                </a>
                                                directly.
                                             </h2>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </section>
                        </div>
                     </div>
                  </div>
               </section>
               <section
                  class="elementor-section elementor-top-section elementor-element elementor-element-515d510 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                  data-id="515d510" data-element_type="section">
                  <div class="elementor-container elementor-column-gap-default">
                     <div
                        class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-795afc8"
                        data-id="795afc8" data-element_type="column">
                        <div class="elementor-widget-wrap elementor-element-populated">
                           <section
                              class="elementor-section elementor-inner-section elementor-element elementor-element-7da2605 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                              data-id="7da2605" data-element_type="section">
                              <div class="elementor-container elementor-column-gap-default">
                                 <div
                                    class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-9612cee"
                                    data-id="9612cee" data-element_type="column"
                                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                       <div
                                          class="elementor-element elementor-element-f403dd4 elementor-widget elementor-widget-text-editor"
                                          data-id="f403dd4" data-element_type="widget"
                                          data-widget_type="text-editor.default">
                                          <div class="elementor-widget-container">
                                             <h3>
                                                <strong>
                                                   Our Vision
                                                </strong>
                                             </h3>
                                             At our company, we take pride in our ability to promote and sell only the
                                             highest quality brands to our customers. Our team of professionals,
                                             including IT, brand equity, warehouse, store front, and procurement
                                             specialists, work together to ensure that we provide exceptional service to
                                             dealers, retailers, and brand partners. Through our extensive distribution
                                             network, we are able to bring in additional sales and profits for both our
                                             customers and our manufacturing partners.
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div
                                    class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-3225da8"
                                    data-id="3225da8" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                       <div
                                          class="elementor-element elementor-element-5168ca4 elementor-widget elementor-widget-image"
                                          data-id="5168ca4" data-element_type="widget" data-widget_type="image.default">
                                          <div class="elementor-widget-container">
                                             <img decoding="async" width="400" height="400"
                                                src="https://giswholesale.com/wp-content/uploads/2023/03/pngwing.com-30.png"
                                                class="attachment-full size-full wp-image-16891" alt="" loading="lazy"
                                                srcset="https://giswholesale.com/wp-content/uploads/2023/03/pngwing.com-30.png 400w, https://giswholesale.com/wp-content/uploads/2023/03/pngwing.com-30-300x300.png 300w, https://giswholesale.com/wp-content/uploads/2023/03/pngwing.com-30-150x150.png 150w, https://giswholesale.com/wp-content/uploads/2023/03/pngwing.com-30-100x100.png 100w"
                                                sizes="(max-width: 400px) 100vw, 400px">
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div
                                    class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-b253fe2"
                                    data-id="b253fe2" data-element_type="column"
                                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                       <div
                                          class="elementor-element elementor-element-e11114c elementor-widget elementor-widget-text-editor"
                                          data-id="e11114c" data-element_type="widget"
                                          data-widget_type="text-editor.default">
                                          <div class="elementor-widget-container">
                                             <h3>
                                             </h3>
                                             <h3>
                                                <strong>
                                                   Our Mission
                                                </strong>
                                             </h3>
                                             Our mission is to be more than just a distributor or retailer; we strive to
                                             be a company that values both our suppliers and customers equally. We have
                                             many innovative strategies that benefit the brands we represent. This
                                             commitment to exceptional customer service is what sets us apart.
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </section>
                           <section
                              class="elementor-section elementor-inner-section elementor-element elementor-element-9dd9c3f elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                              data-id="9dd9c3f" data-element_type="section">
                              <div class="elementor-container elementor-column-gap-default">
                                 <div
                                    class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-8a0e957"
                                    data-id="8a0e957" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                       <div
                                          class="elementor-element elementor-element-d7c5ee9 elementor-widget elementor-widget-image"
                                          data-id="d7c5ee9" data-element_type="widget" data-widget_type="image.default">
                                          <div class="elementor-widget-container">
                                             <img decoding="async" width="400" height="400"
                                                src="https://giswholesale.com/wp-content/uploads/2023/02/pngwing.com-40.png"
                                                class="attachment-full size-full wp-image-16467" alt="" loading="lazy"
                                                srcset="https://giswholesale.com/wp-content/uploads/2023/02/pngwing.com-40.png 400w, https://giswholesale.com/wp-content/uploads/2023/02/pngwing.com-40-300x300.png 300w, https://giswholesale.com/wp-content/uploads/2023/02/pngwing.com-40-150x150.png 150w, https://giswholesale.com/wp-content/uploads/2023/02/pngwing.com-40-100x100.png 100w"
                                                sizes="(max-width: 400px) 100vw, 400px">
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div
                                    class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-2665bf9"
                                    data-id="2665bf9" data-element_type="column"
                                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                       <div
                                          class="elementor-element elementor-element-143e315 elementor-widget elementor-widget-text-editor"
                                          data-id="143e315" data-element_type="widget"
                                          data-widget_type="text-editor.default">
                                          <div class="elementor-widget-container">
                                             <h3>
                                                <strong>
                                                   Our Core Values
                                                </strong>
                                             </h3>
                                             Our core values include building trust with our customers and partners,
                                             showing determination to achieve our goals, adapting to change, building
                                             strong teams, and leading by example.
                                             Build Trust
                                             Determination
                                             Adapt to change
                                             Build Teams
                                             Exemplify
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div
                                    class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-0590935"
                                    data-id="0590935" data-element_type="column">
                                    <div class="elementor-widget-wrap elementor-element-populated">
                                       <div
                                          class="elementor-element elementor-element-14ba580 elementor-widget elementor-widget-image"
                                          data-id="14ba580" data-element_type="widget" data-widget_type="image.default">
                                          <div class="elementor-widget-container">
                                             <img decoding="async" width="400" height="400"
                                                src="https://giswholesale.com/wp-content/uploads/2023/02/pngwing.com-39.png"
                                                class="attachment-full size-full wp-image-16466" alt="" loading="lazy"
                                                srcset="https://giswholesale.com/wp-content/uploads/2023/02/pngwing.com-39.png 400w, https://giswholesale.com/wp-content/uploads/2023/02/pngwing.com-39-300x300.png 300w, https://giswholesale.com/wp-content/uploads/2023/02/pngwing.com-39-150x150.png 150w, https://giswholesale.com/wp-content/uploads/2023/02/pngwing.com-39-100x100.png 100w, https://giswholesale.com/wp-content/uploads/2023/02/elementor/thumbs/pngwing.com-39-150x150.png 600w"
                                                sizes="(max-width: 400px) 100vw, 400px">
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </section>
                        </div>
                     </div>
                  </div>
               </section>
            </div>
         </div>
      </div>
   </article>

<!-- </div> -->
{% endblock %}

{% block js %}
<script>
   const nav_category_api_url = "{% url 'main:home:api:v1:nav_category-list' %}";
</script>
<!-- NavCategory JS -->
<script src="{% static 'home/js/nav_category.js' %}?v={{JS_VERSION}}"></script>
{% endblock %}