{% extends 'base/base.html' %}
{% load static %}
{% block css %}
    <style>
        #news_and_updates_div {
            display: inline-block;
            width: 100%;
        }

        #news_and_updates_div h3, h5, strong {
            text-align: center;
            margin: 0px;
        }

        #news_and_updates_div iframe {
            display: block;
            margin: 0 auto;
        }

        #extra_text {
            background-color: #11182F;
            color: white;
            padding: 30px;
        }

        #news_and_updates_div .rondell-container {
            margin: 0 auto;
            margin-bottom: 25px;
        }

        #news_and_updates_div .flyers_div {
            display: inline-block;
            width: 100%;
            padding-top: 50px !important;
            padding-bottom: 50px !important;
            background-image: url(/static/home/img/background_img_1.jpg) !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }

        #news_and_updates_div .flyers_div .container{
            margin-top: 50px !important;
            margin-bottom: 50px !important;
        }

        /*FLYER SECTION*/

        /* The Modal (background) */
        .img-size{
            height: 450px;
            width: 100%;
            background-size: cover;
            overflow: hidden;
        }

        .flyer-modal-content {
            width: 100%;
            border:none;
        }

        .flyer-modal-body {
            padding: 0;
        }

        .carousel-control-prev {
            left: 0;
        }

        .carousel-control-next {
            right: 0;
        }

        .carousel-control-prev, .carousel-control-next {
            position: absolute;
            top: 0;
            bottom: 0;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-pack: center;
            justify-content: center;
            width: 15%;
            color: #fff;
            text-align: center;
            opacity: 0.5;
        }

        .carousel-control-prev-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
            width: 30px;
            height: 48px;
        }

        .carousel-control-next-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
            width: 30px;
            height: 48px;
        }

        .carousel-control-prev-icon, .carousel-control-next-icon {
            display: inline-block;
            width: 20px;
            height: 20px;
            background-size: 100% 100%;
        }

        @keyframes zoom {
            from {
                transform: scale(0)
            }
            to {
                transform: scale(1)
            }
        }

        /* 100% Image Width on Smaller Screens */
        @media only screen and (max-width: 700px) {
            .flyer_modal_content {
                width: 100%;
            }
        }

        .aa-blog-img {
            height: 500px !important;
        }
        .aa-latest-blog-single {
            padding: 10px;
        }
        .aa-latest-blog-single .aa-blog-title{
            margin: 10px!important;
        }

        /* END FLYER SECTION*/
    </style>
{% endblock %}


{% block content %}
    <!-- General notice for all -->
    {% include 'home/notice.html' %}
    <!-- Start menu -->
    {% include 'home/nav_category.html' %}
    <!-- / menu -->
    <div id="news_and_updates_div" class="">
        <div class="flyers_div">
            <h3>PROMOTIONS</h3>
            <h5>Simply click on the flyer image you want to view</h5>
            {#            <div id="rondellCarousel"></div>#}
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="aa-latest-blog-area">
                            <div class="row" id="aa-latest-flyer-area">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block js %}
    <script>
        const nav_category_api_url = "{% url 'main:home:api:v1:nav_category-list' %}";
        const flyer_api_url = "{% url 'main:home:api:v1:flyer-list' %}";
        const notice_category_api_url = "{% url 'main:home:api:v1:notice-list' %}";
    </script>

    <!-- General Notice JS -->
    <script src="{% static 'home/js/notice.js' %}?v={{JS_VERSION}}"></script>

    <!-- NavCategory JS -->
    <script src="{% static 'home/js/nav_category.js' %}?v={{JS_VERSION}}"></script>
    <script src="{% static 'home/js/custom_page/promotion.js' %}?v={{JS_VERSION}}"></script>
{% endblock %}
