{% extends 'admin_base/base.html' %}
{% load static %}
{% block css %}
{% endblock %}

{% block content %}
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Flyer</h1>
            {#        <a href="#"#}
            {#           class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i#}
            {#                class="fas fa-download fa-sm text-white-50"></i> Generate#}
            {#            Report</a>#}
        </div>
        <p class="mb-4">
            Flyers!. Try to compress your image file size as size matters.
        </p>


        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Flyer Add</h6>
            </div>
            <div class="card-body">
                <form id="flyer_add" data-parsley-validate
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="title">Title: <span class="text-danger">*</span></label>
                        <input type="text"
                               class="form-control"
                               id="title"
                               name="title"
                               data-parsley-maxlength="20"
                               placeholder="Enter flyer title here (max 20 chars)."
                               required
                        >
                    </div>

                    <div class="form-group">
                        <label for="redirect_url">Redirect URL: <span class="text-danger">*</span></label>
                        <input type="text"
                               class="form-control"
                               id="redirect_url"
                               name="redirect_url"
                               value="#"
                               data-parsley-maxlength="256"
                               placeholder="Enter flyer redirect url here (max 256 chars)."
                               required
                        >
                        <label>Hints: Banner Page URL: /brand-page/?brand=BRAND_ID</label>
                    </div>

                    <div class="form-group">
                        <label for="image">Full HD Image: <span class="text-danger">*</span></label>
                        <input type="file"
                               class="form-control"
                               id="image"2
                               name="image"
                               required
                        >
                    </div>

                    <div class="form-group">
                        <label for="image1">Full HD Image:</label>
                        <input type="file"
                               class="form-control"
                               id="image1"
                               name="image1"
                        >
                    </div>

                    <div class="form-group">
                        <label for="image2">Full HD Image:</label>
                        <input type="file"
                               class="form-control"
                               id="image2"
                               name="image2"
                        >
                    </div>

                    <div class="form-group">
                        <label for="image3">Full HD Image:</label>
                        <input type="file"
                               class="form-control"
                               id="image3"
                               name="image3"
                        >
                    </div>

                    <div class="form-group">
                        <label for="order">Order:</label>
                        <input type="number"
                               class="form-control"
                               id="order"
                               name="order"
                               placeholder="Enter order/position."
                               value="999"
                        >
                    </div>

                    <div class="form-group">
                        <div class="custom-control custom-checkbox small">
                            <input type="checkbox" class="custom-control-input" id="show_at_home_page" name="show_at_home_page">
                            <label class="custom-control-label" for="show_at_home_page">Show at homepage</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="custom-control custom-checkbox small">
                            <input type="checkbox" class="custom-control-input" id="is_promotional" name="is_promotional">
                            <label class="custom-control-label" for="is_promotional">Promotional</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="custom-control custom-checkbox small">
                            <input type="checkbox" class="custom-control-input" id="is_active" name="is_active" checked>
                            <label class="custom-control-label" for="is_active">Active</label>
                        </div>
                    </div>

                    <div class="failed"></div>

                    <input type="submit"
                           class="btn btn-primary btn-user btn-block">
                </form>
            </div>
        </div>

    </div>
{% endblock %}


{% block js %}
    <script>
        const flyer_api_url = "{% url 'main:home:api:v1:flyer-list' %}";
        const flyer_list_url = "{% url 'admin:admin_home:flyer_list' %}";
    </script>

    <!-- Banner JS -->
    <script src="{% static 'admin_home/js/flyer.js' %}?v={{JS_VERSION}}"></script>
{% endblock %}
