{% extends 'admin_base/base.html' %}
{% load static %}
{% block css %}
{% endblock %}

{% block content %}
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Event</h1>
            {#        <a href="#"#}
            {#           class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i#}
            {#                class="fas fa-download fa-sm text-white-50"></i> Generate#}
            {#            Report</a>#}
        </div>
        <p class="mb-4">
            Set event in different pages.
            Gif's are better than image's as a event.
            Please make sure you have full HD event images.
        </p>


        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Event Edit</h6>
            </div>
            <div class="card-body">
                <form id="event_edit" data-parsley-validate
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="title">Title: <span class="text-danger">*</span></label>
                        <input type="text"
                               class="form-control"
                               id="title"
                               name="title"
                               data-parsley-maxlength="50"
                               placeholder="Enter event title here (max 50 chars)."
                               required
                        >
                    </div>

                    <!-- <div class="form-group">
                        <label for="page">Page: <span class="text-danger">*</span></label>
                        <select type="text"
                                  class="form-control"
                                  id="page"
                                  name="page"
                                  required
                        ></select>
                    </div> -->

                    <div class="form-group">
                        <label for="redirect_url">Redirect URL: <span class="text-danger">*</span></label>
                        <input type="text"
                               class="form-control"
                               id="redirect_url"
                               name="redirect_url"
                               data-parsley-maxlength="256"
                               placeholder="Enter event redirect url here (max 256 chars)."
                               required
                        >
                    </div>

                    <div class="form-group">
                        <label for="image">Start Date: <span class="text-danger">*</span></label>
                        <input type="date"
                               class="form-control"
                               id="start_date"
                               name="start_date"
                               required
                        >
                    </div>

                    <div class="form-group">
                        <label for="image">End Date: <span class="text-danger">*</span></label>
                        <input type="date"
                               class="form-control"
                               id="end_date"
                               name="end_date"
                               required
                        >
                    </div>

                    <div class="form-group">
                        <label for="order">Priority: <span class="text-danger">*</span></label>
                        <input type="text"
                               class="form-control"
                               id="priority"
                               name="priority"
                               value="999"
                               data-parsley-maxlength="256"
                               placeholder="Enter event order here (max 256 chars)."
                               required
                        >
                    </div>

                    <div class="form-group">
                        <label for="image">Full HD Image (<a href="#" target="_blank" id="editEventCurrentImage">Current Image</a>):</label>
                        <input type="file"
                               class="form-control"
                               id="image"
                               name="image"
                        >
                    </div>

                    <div class="form-group">
                        <div class="custom-control custom-checkbox small">
                            <input type="checkbox" class="custom-control-input" id="is_active" name="is_active">
                            <label class="custom-control-label" for="is_active">Active</label>
                        </div>
                    </div>

                    <div class="failed"></div>

                    <input type="submit"
                           class="btn btn-primary btn-user btn-block">
                </form>
            </div>
        </div>

    </div>
{% endblock %}


{% block js %}
    <script>
        const page_api_url = "{% url 'main:home:api:v1:page-list' %}";
        const event_api_url = "{% url 'main:home:api:v1:event-list' %}";
        const event_list_url = "{% url 'admin:admin_home:event_list' %}";
        const hashed_id = "{{ hashed_id }}";
    </script>

    <!-- Event JS -->
    <script src="{% static 'admin_home/js/event.js' %}?v={{JS_VERSION}}"></script>
{% endblock %}
