{% extends 'admin_base/base.html' %}
{% load static %}
{% block css %}
<style>
    .section0 {
        display: flex;
        gap: 10px;
        justify-content: end;
    }

    .section1 {
        text-align: right;
        font-size: 30px;
        font-weight: 700;
        color: #4e73df;
    }

    .section2 {
        display: flex;
        justify-content: space-between;
        color: black;
        text-align: right;
        font-size: 16px;
    }

    .section2 .logo {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .section2 .logo #logo-button {
        display: none;
    }

    .section2 .logo label {
        margin-top: 10px;
        padding: 5px;
        background: #1172c2;
        color: #fff;
        font-size: 15px;
        font-family: "Open Sans", sans-serif;
        text-transform: Uppercase;
        font-weight: 600;
        border-radius: 5px;
        cursor: pointer;
    }

    .section2 input {
        text-align: right;
        width: 100%;
    }

    .section2 textarea {
        width: 100%;
    }

    .section3 a {
        color: black;
        text-decoration: none;
        font-size: 16px;
    }

    .section4 {
        display: flex;
        gap: 50px;
        justify-content: space-between;
        color: black;
        font-size: 16px;
    }

    .section4 div {
        flex: 1;
        border: 1px solid black;
    }

    .section4 div strong {
        display: block;
        color: white;
        background: #4066d4;
        padding: 0 10px;
    }

    .section4 p {
        /* padding: 0 10px; */
        margin: 0;
    }

    .section4 p textarea {
        width: 100%;
        height: 100px;
        padding: 0 10px;
        border: none;
    }

    .section5 {
        color: black;
        font-size: 16px;
    }

    .section5 table thead {
        color: white;
        background-color: #4066d4;
    }

    .section5 table,
    .section5 table tbody tr td input,
    .section5 table tbody tr td textarea {
        width: 100%;
        padding-top: 5px;
        font-size: 16px;
    }

    .section5 table thead tr,
    .section5 table tbody tr {
        border-bottom: 1px solid black;
        /* font-size: 12px; */
    }

    .section5 table tbody tr td:nth-child(2) {
        width: 50%;
    }

    .section5 table tfoot tr {
        border-top: 1px solid black;
    }

    .section6 {
        display: flex;
        gap: 50px;
        justify-content: space-between;
        color: black;
        font-size: 16px;
    }

    .section6 div {
        /* flex: 1; */
        border: 1px solid black;
    }

    .section6 div strong {
        display: block;
        color: white;
        background: #4066d4;
        padding: 0 10px;
    }

    .section6 p {
        /* padding: 0 10px; */
        margin: 0;
    }

    .section6 p textarea {
        min-width: 600px;
        height: 100px;
        padding: 0 10px;
        border: none;
        resize: both;
    }

    #discount_percentage,
    #vat_percentage {
        width: 35px;
        text-align: center;
        padding: 0;
    }

    #delivery_cost {
        width: 70px;
        font-weight: bold;
    }

    input[type='number'] {
        -moz-appearance: textfield;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    .section7 table {
        width: 100%;
        table-layout: fixed;
    }

    .section7 table thead {
        background-color: #4066d4;
        color: white;
    }

    .section7 table tbody input {
        width: 100%;
    }

    @media print {
        body * {
            visibility: hidden;
        }

        .sidebar,
        .heading {
            display: none;
        }

        .card-body * {
            visibility: visible;
        }

        .card-body {
            top: 0px;
            left: 0px;
            width: 100%;
        }

        input,
        textarea {
            border: none;
            outline: none;
            box-shadow: none;
            background: transparent;
        }

        input::-webkit-calendar-picker-indicator {
            display: none !important;
            -webkit-appearance: none;
        }


        textarea {
            resize: none;
        }

        .section0 {
            display: none;
        }

        .section2 .logo label {
            display: none;
        }

        .select2-container--default .select2-selection--single {
            border: none;
        }

        .select2-container--default.select2-container--disabled .select2-selection--single {
            background-color: #fff;
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            color: black;
        }

        .select2-container .select2-selection--single .select2-selection__rendered {
            padding-left: 0;
            padding-right: 0;
        }

        .select2-container--default .select2-selection--single .select2-selection__arrow {
            display: none;
        }

        .section4 #supplier,
        .section4 p .select2 {
            display: none;
        }

        table {
            page-break-inside: auto
        }

        tr {
            page-break-inside: avoid;
            page-break-after: auto
        }

        thead {
            display: table-row-group
        }

        tfoot {
            display: table-row-group
        }

        .btn,
        .fa-paste,
        .section5 table thead tr th:last-child,
        .section5 table tbody tr td:last-child {
            display: none;
        }

        .section6 {
            break-inside: avoid;
        }

        .section6 div:nth-child(2) {
            display: none;
        }

        .section7 table thead tr th {
            border: 1px solid #4066d4;
            border-top: none;
        }

        .section7 table tbody tr td {
            border: 1px solid black;
            border-top: none;
            padding-left: 2px;
        }
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="heading">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Sales Order</h1>
            <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fas fa-download fa-sm text-white-50"></i> Generate
                    Report
            </a> -->
        </div>
        <p class="mb-4">
            A sales order is a document generated by the seller specifying the details about the product or services
            ordered by the customer.
        </p>
    </div>


    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Create/Generate</h6>
        </div>
        <div class="card-body">
            <div class="section0">
                <div class="custom-control custom-checkbox small">
                    <input type="checkbox" class="custom-control-input" id="is_ready_for_processing"
                        name="is_ready_for_processing" data-parsley-multiple="is_ready_for_processing">
                    <label class="custom-control-label" for="is_ready_for_processing">Ready for processing</label>
                </div>
                <div class="custom-control custom-checkbox small">
                    <input type="checkbox" class="custom-control-input" id="is_dropship" name="is_dropship"
                        data-parsley-multiple="is_dropship">
                    <label class="custom-control-label" for="is_dropship">Dropship</label>
                </div>
                <div class="custom-control custom-checkbox small">
                    <input type="checkbox" class="custom-control-input" id="is_quotation" name="is_quotation"
                        data-parsley-multiple="is_quotation">
                    <label class="custom-control-label" for="is_quotation">Quotation</label>
                </div>
            </div>
            <div class="section1">
                INVOICE
            </div>
            <hr>
            <div class="section2">
                <div>
                    <div class="logo">
                        <img id="logo-preview" src={% static COMPANY_NAME_ICON_URL %} width="200">
                        <label class="logo-button-label" for="logo-button">Upload Image</label>
                        <input type="file" id="logo-button" accept="image/*">
                    </div>
                    <br><br>
                    <textarea id="address">1225 W College Ave, Carrollton, TX 75006 USA</textarea>
                </div>
                <div>
                    <table>
                        <!-- <tr>
                            <th>ORDER NUMBER:&nbsp;</th>
                            <td><input type="text" id="order_number"></td>
                        </tr> -->
                        <tr>
                            <th>ORDER DATE:&nbsp;</th>
                            <td><input type="date" id="date"></td>
                        </tr>
                        <tr>
                            <th>DUE DATE:&nbsp;</th>
                            <td><input type="date" id="due_date"></td>
                        </tr>
                        <tr>
                            <th>CUSTOMER PO:&nbsp;</th>
                            <td><input type="text" id="customer_po"></td>
                        </tr>
                        <!-- <tr>
                            <th>CUSTOMER:&nbsp;</th>
                            <td>
                                <select id="customer_uuid" style="width:100%;height:30px;text-align:right;">
                                    <option value="${v.id}" selected="selected">Select</option>
                                </select>
                            </td>
                        </tr> -->
                        <!-- <tr>
                            <th>TERMS:&nbsp;</th>
                            <td><input list="terms_list" type="text" id="terms"></td>
                            <datalist id="terms_list">
                                <option value="Prepaid">
                            </datalist>
                        </tr>
                        <tr>
                            <th>SHIP DATE:&nbsp;</th>
                            <td><input type="date" id="ship_date"></td>
                        </tr> -->
                        <tr>
                            <th>INVOICE NUMBER:&nbsp;</th>
                            <td><input type="text" id="invoice_number"></td>
                        </tr>
                        <!-- <tr>
                            <th>SHIP VIA:&nbsp;</th>
                            <td><input type="text" id="ship_via"></td>
                        </tr> -->
                        <tr>
                            <th>TRACKING NUMBER:&nbsp;</th>
                            <td><input type="text" id="tracking_number"></td>
                        </tr>
                        <!-- <tr>
                            <th>FREIGHT:&nbsp;</th>
                            <td><input type="text" id="freight"></td>
                        </tr> -->
                    </table>
                </div>
            </div>
            <div class="section3"><textarea id="url" style="resize:auto">https://giswholesale.com</textarea></div>
            <br>
            <div class="section4">
                <div>
                    <strong>Ship from</strong>
                    <p>
                        <!-- <select id="supplier" style="width: 100%;">
                            <option value="" selected="selected">Search Supplier</option>
                        </select> -->
                        <textarea id="ship_from"
                            onchange="$(this).css('height', 'auto').css('height', this.scrollHeight + this.offsetHeight - this.clientHeight);"
                            onkeyup="$(this).css('height', 'auto').css('height', this.scrollHeight + this.offsetHeight - this.clientHeight);">GIS Wholesale &#13;&#10;1225 W College Ave, &#13;&#10;Carrollton, TX 75006 USA&#13;&#10;</textarea>
                    </p>
                </div>
                <div style="position:relative"><span id="copy_ship_to_into_bill_to"
                        style="position:absolute;right:10px;color:white;cursor:pointer;"
                        title="Copy ship to into bill to"><i class="fa fa-paste"></i></span>
                    <strong>Bill to</strong>
                    <p><textarea
                            id="bill_to">ESMH Auto Performance&#13;&#10;6801 E Parker Rd&#13;&#10;Allen, TX 75002 USA&#13;&#10;</textarea>
                    </p>
                </div>
                <div style="position:relative"><span id="copy_bill_to_into_ship_to"
                        style="position:absolute;right:10px;color:white;cursor:pointer;"
                        title="Copy bill to into ship to"><i class="fa fa-paste"></i></span>
                    <strong>Ship to</strong>
                    <p><textarea
                            id="ship_to">ESMH Auto Performance&#13;&#10;6801 E Parker Rd&#13;&#10;Allen, TX 75002 USA&#13;&#10;</textarea>
                    </p>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="section7">
                <table>
                    <thead>
                        <tr>
                            <th>&nbsp;Order No.</th>
                            <th>Customer</th>
                            <th>Payment Terms</th>
                            <th>Shipping Method</th>
                            <th>Shipping Date</th>
                            <th>Freight</th>
                        </tr>
                    </thead>
                    <tbody>
                        <td><input type="text" id="order_number"></td>
                        <td>
                            <select id="customer_uuid" style="width:100%;height:30px;text-align:right;">
                                <option value="${v.id}" selected="selected">Select</option>
                            </select>
                        </td>
                        <td><input list="terms_list" type="text" id="terms"></td>
                        <datalist id="terms_list">
                            <option value="Prepaid">
                        </datalist>
                        <td><input type="text" id="ship_via"></td>
                        <td><input type="date" id="ship_date"></td>
                        <td><input type="text" id="freight"></td>
                    </tbody>
                </table>
            </div>
            <br>
            <div class="section5">
                <table>
                    <thead>
                        <tr>
                            <th>&nbsp;Product ID</th>
                            <th>Description</th>
                            <th>Packing</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Subtotal&nbsp;</th>
                            <th>Delete&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody id="products">
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="3"></th>
                            <th colspan="2"> Sub&nbsp;Total</th>
                            <th id="sub_total">00</th>
                        </tr>
                        <tr>
                            <th colspan="3"></th>
                            <th colspan="2">Discount&nbsp;(<input id="discount_percentage" type="number">)%</th>
                            <th id="discount">00</th>
                        </tr>
                        <tr>
                            <th colspan="3"></th>
                            <th colspan="2">Tax&nbsp;(<input id="vat_percentage" type="number">)%</th>
                            <th id="vat">00</th>
                        </tr>
                        <tr>
                            <th colspan="3"></th>
                            <th colspan="2">Delivery Cost</th>
                            <th id=""><input id="delivery_cost" type="number" value="0"></th>
                        </tr>
                        <tr>
                            <th colspan="3"></th>
                            <th colspan="2">Total</th>
                            <th id="total">00</th>
                        </tr>
                    </tfoot>
                </table>
                <br />
                <br />
                <button class="btn btn-primary add_new_item">+ Add</button>
                <button class="btn btn-success save_so">Save</button>
                <button class="btn btn-warning print_preview">Print Preview</button>
                <!-- <button class="btn btn-danger float-right update_stock">Update Stock</button> -->
                {% if "lock_unlock_po_so" in CURRENT_USER_PERMISSIONS %}
                <button class="btn btn-danger float-right update_stock">Lock</button>
                {% endif %}
                <br>
                <br>
                <div class="section6">
                    <div>
                        <strong>Customer Note</strong>
                        <p><textarea id="customer_note"></textarea>
                        </p>
                    </div>
                    <div>
                        <strong>Internal Note</strong>
                        <p><textarea id="notes"></textarea>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}


{% block js %}





<script>
    const so_api_url = "{% url 'main:user_panel:api:v1:sales_order-list' %}";
    const so_list_url = "{% url 'admin:admin_order:sales_order_list' %}";
    const uuid = "{{ uuid }}";
    const page = 'edit';
</script>

<!-- Finale Invoice JS -->
<script src="{% static 'admin_order/js/sales_order.js' %}?v={{JS_VERSION}}"></script>
{% endblock %}