{% extends 'admin_base/base.html' %}
{% load static %}
{% block css %}
{% endblock %}

{% block content %}
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Useful Link</h1>
            {#        <a href="#"#}
            {#           class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i#}
            {#                class="fas fa-download fa-sm text-white-50"></i> Generate#}
            {#            Report</a>#}
        </div>
        <p class="mb-4">
           Share useful links with dealers.
        </p>


        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Useful Link Add</h6>
            </div>
            <div class="card-body">
                <form id="useful_link_add" data-parsley-validate
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="title">Title: <span class="text-danger">*</span></label>
                        <input type="text"
                               class="form-control"
                               id="title"
                               name="title"
                               data-parsley-maxlength="50"
                               placeholder="Enter title here (max 50 chars)."
                               required
                        >
                    </div>

                    <div class="form-group">
                        <label for="redirect_url">Redirect URL: <span class="text-danger">*</span></label>
                        <input type="text"
                               class="form-control"
                               id="redirect_url"
                               name="redirect_url"
                               value="javascript:;"
                               data-parsley-maxlength="256"
                               placeholder="Enter redirect url here (max 256 chars)."
                               required
                        >
                        <label for="redirect_url">Hint: use <strong>javascript:;</strong> for no url.</label>
                    </div>

                    <div class="form-group">
                        <label for="order">Order: <span class="text-danger">*</span></label>
                        <input type="text"
                               class="form-control"
                               id="order"
                               name="order"
                               value="999"
                               data-parsley-maxlength="256"
                               placeholder="Enter order of useful link."
                               required
                        >
                    </div>

                    <div class="form-group">
                        <div class="custom-control custom-checkbox small">
                            <input type="checkbox" class="custom-control-input" id="is_active" name="is_active" checked>
                            <label class="custom-control-label" for="is_active">Active</label>
                        </div>
                    </div>

                    <div class="failed"></div>

                    <input type="submit"
                           class="btn btn-primary btn-user btn-block">
                </form>
            </div>
        </div>

    </div>
{% endblock %}


{% block js %}
    <script>
        const useful_link_api_url = "{% url 'apps:home:api:v1:useful_link-list' %}";
        const useful_link_list_url = "{% url 'admin:admin_home:useful_link_list' %}";
        const page = 'add';
    </script>

    <!-- useful_link JS -->
    <script src="{% static 'admin_home/js/useful_link.js' %}?v={{JS_VERSION}}"></script>
{% endblock %}
