<div class="modal fade" id="global_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title"></h5>
      </div>
      <div class="modal-body">
        <img width="100%"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Send message</button> -->
      </div>
    </div>
  </div>
</div>

<script>
  if (window.location.pathname === '/') {
    $.ajax({
          url: '/api/v1/event/',
          type: "GET",
          success: function (resp) {
            if (resp.data.length === 0) return
            let data = resp.data
            let global_modal = $('#global_modal')
            global_modal.modal('show')
            global_modal.find('.modal-title').text(data.title)
            global_modal.find('.modal-body img').attr('src', `/media/${data.image}`)
            if (data.redirect_url !== '') {
              global_modal.find('.modal-footer').prepend(
                `<a href="${data.redirect_url}" class="btn btn-primary">${data.button_text}</a>`
                )
            }
          },
          error: function (response) {
              if (response.status === 422) {
                  let errors = '';
                  $.map(response.responseJSON.details, function (v, i) {
                      $.each(v, function (j, k) {
                          errors += `<li>${i}: ${k}</l1>`;
                      })
                  });
                  let final_error = `<ul>${errors}</ul>`;

                  $('.failed')
                      .html(final_error)
                      .css('display', 'block')
              }
          }
      });
  }
    
</script>