{% load static %}
<header id="aa-header">
    <!-- start header top  -->
    <div class="aa-header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-header-top-area">
                        <!-- start header top left -->
                        <div class="aa-header-top-left">
                            <!-- start language -->
{#                            <div class="aa-language">#}
{#                                <div class="dropdown">#}
                                    {#                <a class="btn dropdown-toggle" href="#" type="button" id="dropdownMenu1" data-toggle="dropdown"#}
                                    {#                  aria-haspopup="true" aria-expanded="true">#}
                                    {#                  <img src="{% static 'base/img/flag/english.jpg' %}" alt="english flag">ENGLISH#}
                                    <!--                      <span class="caret"></span>-->
                                    {#                </a>#}
                                    <!--                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">-->
                                    <!--                      <li><a href="#"><img src="img/flag/french.jpg" alt="">FRENCH</a></li>-->
                                    <!--                      <li><a href="#"><img src="img/flag/english.jpg" alt="">ENGLISH</a></li>-->
                                    <!--                    </ul>-->
{#                                </div>#}
{#                            </div>#}
                            <!-- / language -->

                            <!-- start currency -->
{#                            <div class="aa-currency">#}
{#                                <div class="dropdown">#}
{#                                    <a class="btn dropdown-toggle" href="#"#}
{#                                       type="button" id="dropdownMenu1"#}
{#                                       data-toggle="dropdown"#}
{#                                       aria-haspopup="true"#}
{#                                       aria-expanded="true">#}
                                        {#                  <i class="fa fa-usd"></i>USD#}
                                        <!--                      <span class="caret"></span>-->
{#                                    </a>#}
                                    <!--                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">-->
                                    <!--                      <li><a href="#"><i class="fa fa-euro"></i>EURO</a></li>-->
                                    <!--                      <li><a href="#"><i class="fa fa-jpy"></i>YEN</a></li>-->
                                    <!--                    </ul>-->
{#                                </div>#}
{#                            </div>#}
                            <!-- / currency -->
                            <!-- start cellphone -->
                            <div class="cellphone hidden-xs">
                                <p>
                                    <a href="/contact-us/"style="color: #ff6666">Questions?</a>
                                    <a href="tel:{{ COMPANY_PHONE }}">{{ COMPANY_PHONE }}</a>
                                </p>
                            </div>
                            <!-- / cellphone -->
                            <!-- start cellphone -->
                            <div class="cellphone hidden-xs">
                                <p>
                                    <a href="mailto:{{ COMPANY_EMAIL }}">{{ COMPANY_EMAIL }}</a>
                                </p>
                            </div>
                            <!-- / cellphone -->
                            <!-- start tagline -->
                            <div class="cellphone hidden-xs">
                                <p style="background-color: gold;">Distributor of Tools, HVAC & Hardware Equipments</p>
                            </div>
                            <!-- / tagline -->
                            <!-- start email -->
                            <div class="cellphone hidden-xs">
                                {#              <p><span class="fa fa-envelope"></span>{{ COMPANY_EMAIL }}</p>#}
                            </div>
                            <!-- / email -->
                        </div>
                        <!-- / header top left -->

                        <div class="aa-header-top-right">
                            
                            <ul class="aa-head-top-nav-right">
                                <li><a href="#"><i class="fa fa-user"></i>&nbsp;Welcome, {{ request.user.name }}
                                </a></li>
                                <li>
                                    <a href="{% url 'apps:user_panel:my_account' %}">My
                                        Account</a></li>
                                {#              <li class="hidden-xs"><a href="">Wishlist</a></li>#}
                                {#              <li class="hidden-xs"><a href="">My Cart</a></li>#}
                                {#              <li class="hidden-xs"><a href="">Checkout</a></li>#}
                                <li>
{#                                    <a href="{% url 'apps:authentication:logout' %}">Logout</a>#}
                                </li>
                            </ul>
                           

                            <!-- start need help -->
                            <div class="aa-language" style="float: left">
                                <div class="dropdown">
                                    <a class="btn dropdown-toggle" href="#"
                                       type="button" id="dropdownMenu1"
                                       data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="true">
                                        Need Help?
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu"
                                        aria-labelledby="dropdownMenu1">
                                        <li>
                                            <a href="/contact-us/">Contact Us</a>
                                        </li>
                                        <li>
                                            <a href="/faq/">FAQ</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- / need help -->
                            <!-- start my account -->
                            <div class="aa-language" style="float: left">
                                <div class="dropdown">
                                    <a class="btn dropdown-toggle" href="#"
                                       type="button" id="dropdownMenu2"
                                       data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="true">
                                        <i class="fa fa-user"></i>&nbsp;Welcome, {{ request.user.name }}
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu"
                                        aria-labelledby="dropdownMenu2">
                                        <li>
                                            <a href="{% url 'apps:user_panel:my_account' %}">My
                                    Account</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'apps:authentication:logout' %}">Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- / need my account -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / header top  -->

    <!-- start header bottom  -->
    <div class="aa-header-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-header-bottom-area">
                        <!-- logo  -->
                        <div class="aa-logo">
                            <!-- Text based logo -->
                            <!--                <a href="/index">-->
                            <!--                  <span class="fa fa-cart-plus"></span>-->
                            <!--                  <p>daily<strong>Shop</strong> <span>Your Shopping Partner</span></p>-->
                            <!--                </a>-->
                            <!-- img based logo -->
                            <a href="/"><img
                                    src="{% static COMPANY_NAME_ICON_URL %}"
                                    alt="inventorylogo"
                                    style="width: 4em; border-radius:.5em"></a>
                        </div>
                        <!-- / logo  -->
                        <!-- cart box -->
                        <div class="aa-cartbox">
                            <!-- <a class="aa-cart-link" href="{% url 'apps:user_panel:my_cart' %}">
                                <span class="fa fa-cart-plus" style="font-size:40px;"></span>
                                <span class="aa-cart-title">CART</span>
{#                                <span class="aa-cart-notify">2</span>#}
                            </a> -->
{#                            <div class="aa-cartbox-summary">#}
{#                                <ul>#}
{#                                    <li>#}
{#                                        <a class="aa-cartbox-img" href="#"><img#}
{#                                                src="img/woman-small-2.jpg"#}
{#                                                alt="img"></a>#}
{#                                        <div class="aa-cartbox-info">#}
{#                                            <h4><a href="#">Product Name</a>#}
{#                                            </h4>#}
{#                                            <p>1 x $250</p>#}
{#                                        </div>#}
{#                                        <a class="aa-remove-product"#}
{#                                           href="#"><span#}
{#                                                class="fa fa-times"></span></a>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <a class="aa-cartbox-img" href="#"><img#}
{#                                                src="img/woman-small-1.jpg"#}
{#                                                alt="img"></a>#}
{#                                        <div class="aa-cartbox-info">#}
{#                                            <h4><a href="#">Product Name</a>#}
{#                                            </h4>#}
{#                                            <p>1 x $250</p>#}
{#                                        </div>#}
{#                                        <a class="aa-remove-product"#}
{#                                           href="#"><span#}
{#                                                class="fa fa-times"></span></a>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                          <span class="aa-cartbox-total-title">#}
{#                                            Total#}
{#                                          </span>#}
{#                                        <span class="aa-cartbox-total-price">#}
{#                                            $500#}
{#                                          </span>#}
{#                                    </li>#}
{#                                </ul>#}
{#                                <a class="aa-cartbox-checkout aa-primary-btn"#}
{#                                   href="checkout.html">Checkout</a>#}
{#                            </div>#}
                        </div>
                        <!-- / cart box -->
                        <!-- search box -->
                        {% include 'base/search.html' %}
                        <!-- / search box -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / header bottom  -->
</header>
