{% extends 'base/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'user_panel/css/orders_cancellations.css' %}">
<style>
  .return_header {
    display: flex;
    justify-content: space-between;
  }
  .retutnsearch {
    padding: 1px;
    border-radius: 10px;
    overflow: hidden;
    width: 380px;
  }

  .retutnsearch .CardInner {
    padding: 16px 16px;
    background-color: #121830;
    border-radius: 10px;
  }

  .retutnsearch .container {
    display: flex;
  }

  .retutnsearch .Icon {
    min-width: 46px;
    min-height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-right: 12px;
  }

  .retutnsearch .Icon svg {
    color: white;
    transform: translate(-1px, -1px);
  }

  .retutnsearch label {
    font-family: "Hind", sans-serif;
    display: block;
    color: white;
    margin-bottom: 12px;
  }

  .retutnsearch .InputContainer {
    width: 100%;
  }

  .retutnsearch input {
    background-color: #121830;
    padding: 16px 32px;
    border: none;
    display: block;
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    color: white;
    -webkit-appearance: none;
    transition: all 240ms ease-out;
    width: 100%;

  }

  ;

  .retutnsearch input::placeholder {
    color: white !important
  }

  .retutnsearch input:focus {
    outline: none;
    color: white;
  }

  .retutnsearch .InputContainer {
    --top-shadow: inset 1px 1px 3px #293c66, inset 2px 2px 6px #293c66;
    --bottom-shadow: inset -2px -2px 4px #293c66;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
  }

  .retutnsearch .InputContainer:before,
  .retutnsearch .InputContainer:after {
    left: 0;
    top: 0;
    display: block;
    content: "";
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .retutnsearch .InputContainer:before {
    box-shadow: var(--bottom-shadow);
  }

  .retutnsearch .InputContainer:after {
    box-shadow: var(--top-shadow);
  }
</style>
{% endblock %}


{% block content %}
<!-- General notice for all -->
{% include 'home/notice.html' %}
<!-- Start menu -->
{% include 'home/nav_category.html' %}
<!-- / menu -->
<div style="display: inline-block; width: 100%;">
  <div id="wrapper">
    <!-- Sidebar -->
    {% include 'user_panel/sidebar.html' %}
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">Toggle
          Menu
        </button>
      </nav>
      <div class="container-fluid">
        <h2>Return Your Order</h2>
        <div class="row">
          <div class="col-md-12">
            <div class="cart-view-area">
              <div class="return_header">
                <div class="retutnsearch Card">
                  <div class="CardInner">
                    <label>Search for returning an order</label>
                    <div style="display: flex;">
                      <div class="Icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                          stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
                          class="feather feather-search">
                          <circle cx="11" cy="11" r="8" />
                          <line x1="21" y1="21" x2="16.65" y2="16.65" />
                        </svg>
                      </div>
                      <div class="InputContainer">
                        <input id="filter_order" placeholder="Type order releted info..." />
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <svg style="height:100px;width:100px;color:#121830" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-boxes" viewBox="0 0 16 16">
                    <path d="M7.752.066a.5.5 0 0 1 .496 0l3.75 2.143a.5.5 0 0 1 .252.434v3.995l3.498 2A.5.5 0 0 1 16 9.07v4.286a.5.5 0 0 1-.252.434l-3.75 2.143a.5.5 0 0 1-.496 0l-3.502-2-3.502 2.001a.5.5 0 0 1-.496 0l-3.75-2.143A.5.5 0 0 1 0 13.357V9.071a.5.5 0 0 1 .252-.434L3.75 6.638V2.643a.5.5 0 0 1 .252-.434L7.752.066ZM4.25 7.504 1.508 9.071l2.742 1.567 2.742-1.567L4.25 7.504ZM7.5 9.933l-2.75 1.571v3.134l2.75-1.571V9.933Zm1 3.134 2.75 1.571v-3.134L8.5 9.933v3.134Zm.508-3.996 2.742 1.567 2.742-1.567-2.742-1.567-2.742 1.567Zm2.242-2.433V3.504L8.5 5.076V8.21l2.75-1.572ZM7.5 8.21V5.076L4.75 3.504v3.134L7.5 8.21ZM5.258 2.643 8 4.21l2.742-1.567L8 1.076 5.258 2.643ZM15 9.933l-2.75 1.571v3.134L15 13.067V9.933ZM3.75 14.638v-3.134L1 9.933v3.134l2.75 1.571Z"/>
                  </svg>
                </div>
                <div style="color: #121830;">
                  <strong>Return Procedure</strong>
                  <p>Collect Order id or Tracking Number of the product.</p>
                  <p>Share details by calling at <strong>{{COMPANY_PHONE}}</strong></p>
                </div>
              </div>
              <br>
              <br>
              <br>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>SL</th>
                      <th>Order At</th>
                      <th>Order ID</th>
                      <th>Wants To Return?</th>
                    </tr>
                  </thead>
                  <tbody id="orders"></tbody>
                </table>
              </div>
              <div id="empty_orders">
                <h3>NOTHING FOUND</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script>
  const nav_category_api_url = "{% url 'main:home:api:v1:nav_category-list' %}";
  const notice_category_api_url = "{% url 'main:home:api:v1:notice-list' %}";
  const order_api_url = "{% url 'main:user_panel:api:v1:order-list' %}";
</script>

<!-- General Notice JS -->
<script src="{% static 'home/js/notice.js' %}?v={{JS_VERSION}}"></script>

<!-- NavCategory JS -->
<script src="{% static 'home/js/nav_category.js' %}?v={{JS_VERSION}}"></script>
<!-- My account JS -->
<script src="{% static 'user_panel/js/return.js' %}?v={{JS_VERSION}}"></script>
{% endblock %}