{% extends 'admin_base/base.html' %}
{% load static %}
{% block css %}
{% endblock %}

{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Document</h1>
        <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate
            Report</a> -->
    </div>
    <p class="mb-4">
        <!-- Only active document will be shown in home page.
        Documents are awesome for user experience.
        Please make sure you have full HD document images. -->
    </p>


    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Document Add</h6>
        </div>
        <div class="card-body">
            <form id="document_add" data-parsley-validate enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">Name: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="name" name="name" data-parsley-maxlength="50"
                        placeholder="Enter document name here (max 50 chars)." required>
                </div>

                <div class="form-group">
                    <label for="document">Document: </label>
                    <input type="file" class="form-control" id="document" name="document">
                </div>

                <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                        <input type="checkbox" class="custom-control-input" id="is_active" name="is_active" checked>
                        <label class="custom-control-label" for="is_active">Active</label>
                    </div>
                </div>

                <input type="submit" class="btn btn-primary float-right">
            </form>
        </div>
    </div>

</div>
{% endblock %}


{% block js %}
<script>
    const page_type = "add";
    const api_urls = {
        "document_list": "{% url 'apps:inventory:api:v1:document-list-create' %}",
    }
    const document_list_url = "{% url 'admin:admin_inventory:document_list' %}";
</script>

<!-- Document JS -->
<script src="{% static 'admin_inventory/js/document.js' %}?v={{JS_VERSION}}"></script>
{% endblock %}