<!DOCTYPE html>
<html lang="en">
<head>
	
	<!-- Title -->
	<title>W3Meat: Meat Shop Mobile App Template ( Bootstrap + PWA )</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, minimal-ui, viewport-fit=cover">
	<meta name="theme-color" content="#009688">
	<meta name="author" content="DexignZone">
	<meta name="robots" content="index, follow"> 
	 
	<meta name="keywords" content="android, ios, mobile, application template, progressive web app, ui kit, multiple color, dark layout, meat shop">
	<meta name="description" content="Experience the ultimate convenience of a mobile meat shop with our cutting-edge Bootstrap and PWA-powered template">

	<meta property="og:title" content="W3Meat: Meat Shop Mobile App Template ( Bootstrap + PWA )">
	<meta property="og:description" content="Experience the ultimate convenience of a mobile meat shop with our cutting-edge Bootstrap and PWA-powered template">
	<meta property="og:image" content="https://w3meat.dexignzone.com/xhtml/social-image.png">
	<meta name="format-detection" content="telephone=no">

	<!-- Favicons Icon -->
	<link rel="shortcut icon" type="image/x-icon" href="/static/front_end/assets/images/favicon.png">
	
	<!-- PWA Version -->
	<link rel="manifest" href="/static/front_end/manifest.json">
    
    <!-- Global CSS -->
	<link href="/static/front_end/assets/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/front_end/assets/vendor/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css">
	<link rel="stylesheet" href="/static/front_end/assets/vendor/swiper/swiper-bundle.min.css">
    
	<!-- Stylesheets -->
    <link href="/static/front_end/assets/css/noty.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/static/front_end/assets/css/style.css">
	
    <!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

</head>   
<body>
<div class="page-wraper">
    
	<!-- Preloader -->
	<div id="preloader">
		<div class="loader">
			<div class="load-circle"><div></div><div></div></div>
		</div>
	</div>
    <!-- Preloader end-->
	
	
	<!-- Header -->
	<header class="header">
		<div class="main-bar">
			<div class="container">
				<div class="header-content">
					<div class="left-content">
						<a href="javascript:void(0);" class="back-btn">
							<i class="fa-solid fa-arrow-left"></i>
						</a>
						<h4 class="title mb-0 text-nowrap">Cart</h4>
					</div>
					<div class="mid-content">
					</div>
					<div class="right-content d-flex align-items-center">
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Header -->
	
    <!-- Page Content -->
    <div class="page-content">
        <div class="container bottom-content menu_product_list"></div>	
    </div>
    <!-- Page Content End-->
	<!-- Menubar -->
	<div class="menubar-area style-5 footer-fixed rounded-0">
		<div class="toolbar-inner menubar-nav">
			<a href="/" class="nav-link">
				<i class="fa-solid fa-house"></i>
				<span>Home</span>
			</a>
			<a href="/category" class="nav-link">
				<i class="fa-solid fa-box"></i>
				<span>Categories</span>
			</a>
			<a href="/favorite" class="nav-link active">
				<i class="fa-solid fa-shopping-cart"></i>
				<span>Cart</span>
			</a>
			<!-- <a href="/cart" class="nav-link">
				<i class="fa-solid fa-bag-shopping"></i>
				<span>Cart</span>
			</a>
			<a href="/account" class="nav-link">
				<i class="fa-solid fa-user"></i>
				<span>Account</span>
			</a> -->
		</div>
	</div>
	<!-- Menubar -->
</div>  
<!--**********************************
    Scripts
***********************************-->
<script src="/static/front_end/assets/js/jquery.js"></script>
<script src="/static/front_end/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/front_end/assets/vendor/swiper/swiper-bundle.min.js"></script><!-- Swiper -->
<script src="/static/front_end/assets/vendor/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script><!-- Swiper -->
<script src="/static/front_end/assets/js/dz.carousel.js"></script><!-- Swiper -->
<script src="/static/front_end/assets/js/settings.js"></script>
<script src="/static/front_end/assets/js/noty.js"></script>
<script src="/static/front_end/assets/js/cart.js"></script>
<script src="/static/front_end/assets/js/order.js"></script>
<script src="/static/front_end/assets/js/custom.js"></script>
<script src="/static/front_end/ui/favourite/index.js" type="module"></script>
</body>
</html>