{% extends 'authentication/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'authentication/css/style.css' %}">
{% endblock %}


{% block content %}

    <!-- catg header banner section -->
    <section id="aa-catg-head-banner">
        <!-- <img src="img/fashion/fashion-header-bg-8.jpg" alt="fashion img"> -->
        <img src="{% static 'authentication/images/inventory.-reg-bg.png' %}"
             alt="fashion img" width="1900" height="300">
        <div class="aa-catg-head-banner-area">
            <div class="container">
                <div class="aa-catg-head-banner-content">
                    <h2>THANK YOU</h2>
                    <ol class="breadcrumb">
                        <!-- <li><a href="/index">Home</a></li>  -->
                        <li class="active">At inventoryWholesale We Are Here for
                            You.
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!-- / catg header banner section -->

    <!-- Cart view section -->
    <section id="aa-myaccount">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-myaccount-area">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="aa-myaccount-Register">
                                    <h4>Register</h4>
                                    <form action="" class="aa-login-form" id="registration-form" data-parsley-validate="" enctype="multipart/form-data">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="registration_form_name">Name<span>*</span></label>
                                                <input type="text" name="name" id="name" placeholder="Full name" required="">
                                            </div>
                                            <div class="col-md-6">
                                                <label for="registration_form_email">Email<span>*</span></label>
                                                <input type="text" name="email" id="registration_form_email" placeholder="Email address" data-parsley-type="email" required="">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                            <label for="registration_form_phone">Phone<span>*</span></label>
                                                <input type="text" name="phone" id="registration_form_phone" placeholder="Phone number" required="">
                                            </div>
                                            <div class="col-md-6">
                                                <label for="registration_form_company_name">Company Name<span>*</span></label>
                                                <input type="text" name="company_name" id="registration_form_company_name" placeholder="Company name" required="">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="registration_form_company_email">Company Email<span>*</span></label>
                                                <input type="text" name="company_email" id="registration_form_company_email" placeholder="Company email address" data-parsley-type="email" required="">
                                            </div>
                                            <div class="col-md-6">
                                                <label for="registration_form_company_employee">Employees<span>*</span></label>
                                                <input type="text" name="company_employee_count" id="registration_form_company_employee" placeholder="Total number of employee" data-parsley-type="number" required="">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="registration_form_company_address">Company Address<span>*</span></label>
                                                <input type="text" name="company_address" id="registration_form_company_address" placeholder="Company address" required="">
                                            </div>
                                            <div class="col-md-6">
                                                <label for="registration_form_company_application_document">Application Document<span>*</span></label>
                                                <input type="file" name="company_application_document" id="registration_form_company_application_document" required="">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for="registration_form_company_store_front">Storefront<span>*</span></label>
                                                <input type="file" name="company_store_front" id="registration_form_company_store_front" required="">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="registration_form_company_commercial_location">Commercial Location<span>*</span></label>
                                                <input type="file" name="company_commercial_location" id="registration_form_company_commercial_location" required="">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="registration_form_company_reseller_permit">Reseller Permit<span>*</span></label>
                                                <input type="file" name="company_reseller_permit" id="registration_form_company_reseller_permit" required="">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="registration_form_company_retail_sales_floor">Retail Sales Floor<span>*</span></label>
                                                <input type="file" name="company_retail_sales_floor" id="registration_form_company_retail_sales_floor" required="">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="registration_form_password">Password<span>*</span></label>
                                                <input type="password" name="password" id="registration_form_password" placeholder="Password" required="">
                                            </div>
                                            <div class="col-md-6">
                                                <label for="registration_form_password2">Confirm Password<span>*</span></label>
                                                <input type="password" name="password2" id="registration_form_password2" placeholder="Retype password" data-parsley-equalto="#registration_form_password" data-parsley-trigger="change" required="">
                                            </div>
                                        </div>
                                        <div class="registration-failed">dfdsfds</div>
                                        <button type="submit"
                                                class="aa-browse-btn">Register
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <br><br>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="aa-myaccount-login">
                                    <h4>Login</h4>
                                    <form action="" class="aa-login-form" id="login-form" data-parsley-validate="">
                                        <span class="login-failed"></span>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="login_form_email">Email address<span>*</span></label>
                                                <input type="text" name="email" placeholder="Email address" id="login_form_email" data-parsley-type="email" required="">
                                            </div>
                                            <div class="col-md-6">
                                                <label for="login_form_password">Password<span>*</span></label>
                                                <input type="password" name="password" id="login_form_password" placeholder="Password" required="">
                                            </div>
                                        </div>
                                        <button type="submit" class="aa-browse-btn">Login</button>
{#                                        <label class="rememberme" for="rememberme">#}
{#                                            <input type="checkbox" id="rememberme"> Remember me#}
{#                                        </label>#}
                                        <br>
                                        <br>
                                        <p class="aa-lost-password">
                                            <a href="/recover-password/">Lost your password?</a>
                                        </p>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- / Cart view section -->

    <!-- footer -->
    {% include 'authentication/footer.html' %}
    <!-- / footer -->
{% endblock %}

{% block js %}
    <script>
        const login_api_url = "{% url 'apps:authentication:api:v1:login' %}"
        const registration_api_url = "{% url 'apps:authentication:api:v1:registration' %}"
        const account_activation_page = false;
        const recover_password_page = false;
    </script>

    <!-- Authentication JS -->
    <script src="{% static 'authentication/js/authentication.js' %}?v={{JS_VERSION}}"></script>
{% endblock %}

