<footer id="aa-footer">
    <!-- footer bottom -->
    <div class="aa-footer-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-footer-top-area">
                        <div class="row">
                            <div class="col-md-3 col-sm-3">
                                <div class="aa-footer-widget">
                                    <h3>inventoryWHOLESALE</h3>
                                    <p style="color:#888">
                                        inventoryWHOLESALE customers 
                                        have come to expect the high quality and affordable 
                                        prices which make inventoryWHOLESALE a unique and trusted 
                                        tool supplier. Name brands and high-quality imports 
                                        help give inventoryWHOLESALE an outstanding reputation 
                                        within the industry.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="aa-footer-widget">
                                    <h3>COMPANY INFORMATION</h3>
                                    <ul class="aa-footer-nav">
                                        <li><a href="https://inventory.wholesale.com/who-where-we-are" target="_blank">About inventoryWholesale</a></li>
                                        <li><a href="https://inventory.wholesale.com/contact" target="_blank">Contact</a></li>
                                        <li><a href="https://inventory.wholesale.com/faq" target="_blank">Faq</a></li>
                                        <li><a href="https://inventory.wholesale.com/gift-cards" target="_blank">Gift Cards</a></li>
                                        <li><a href="https://inventory.wholesale.com/marketing" target="_blank">Marketing</a></li>
                                        <li><a href="https://inventory.wholesale.com/distribution" target="_blank">Distribution</a></li>
                                        <li><a href="https://inventory.wholesale.com/who-where-we-are" target="_blank">Who We Are</a></li>
                                        <li><a href="https://inventory.wholesale.com/military-discount" target="_blank">Military Discount</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="aa-footer-widget">
                                    <div class="aa-footer-widget">
                                        <h3>SUPPORT LINKS</h3>
                                        <ul class="aa-footer-nav">
                                            <li><a href="https://inventory.wholesale.com/become-a-dealer" target="_blank">Become a Dealer</a></li>
                                            <li><a href="https://inventory.wholesale.com/sitemap" target="_blank">Sitemap</a></li>
                                            <li><a href="https://inventory.wholesale.com/hours-locations" target="_blank">Hours & Locations</a></li>
                                            <li><a href="https://inventory.wholesale.com/loyalty-points-program" target="_blank">Loyalty Points Program</a></li>
                                            <li><a href="https://inventory.wholesale.com/return-policy/" target="_blank">Return Policy</a></li>
                                            <li><a href="https://inventory.wholesale.com/security-policy/" target="_blank">Security Policy</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="aa-footer-widget">
                                    <div class="aa-footer-widget">
                                        <h3>Contact Us</h3>
                                        <address>
                                            <p>888 S Greenville Ave# 204, Richardson TX-75081</p>
                                            <p><span
                                                    class="fa fa-phone"></span>{{ COMPANY_PHONE }}</p>
                                            <p><span
                                                    class="fa fa-envelope"></span>support@inventory.wholesale.com
                                            </p>
                                        </address>
                                        <div class="aa-footer-social">
                                            <a href="https://www.facebook.com/inventory.-Wholesale-103199155117387">
                                                <span class="fa fa-facebook"></span>
                                            </a>
                                            <!-- <a href="https://twitter.com/1Distributing"><span
                                                    class="fa fa-twitter"></span></a> -->
                                            <a href="https://www.instagram.com/inventory.wholesale/"><span
                                                    class="fa fa-instagram"></span></a>
                                            <!-- <a href="https://www.youtube.com/channel/UCghCMy8gP7POgEYBoGB4_LA"><span
                                                    class="fa fa-youtube"></span></a> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-bottom -->
    <div class="aa-footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-footer-bottom-area">
                        <!-- <p>Designed by <a href=""></a> -->
                        </p>
                        <div class="aa-footer-payment">
                            <span class="fa fa-cc-mastercard"></span>
                            <span class="fa fa-cc-visa"></span>
                            <span class="fa fa-paypal"></span>
                            <span class="fa fa-cc-discover"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
