{% extends 'authentication/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'authentication/css/style.css' %}">
{% endblock %}


{% block content %}

    <div class="container">
        <div style="padding-top: 70px"></div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <h3><i class="fa fa-lock fa-4x"></i></h3>
                            <h2 class="text-center">Forgot Password?</h2>
                            <p>You can reset your password here.</p>
                            <div class="panel-body">

                                <form id="recover-form-1" role="form" autocomplete="off" class="form" method="post">

                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                            <input id="email" name="email" placeholder="email address" class="form-control"  type="email" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit">
                                    </div>

                                    {% csrf_token %}
                                    <p id="message" hidden>Mail sent successfully. Please check your email for further action.</p>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        const recover_api_url = "{% url 'apps:authentication:api:v1:recover_password' %}";
        const login_api_url = "{% url 'apps:authentication:api:v1:login' %}";
        // const login_page_banner_api_url = "{% url 'apps:home:api:v1:login_page_banners_list' %}";
        const account_activation_page = false;
        const recover_password_page = true;
    </script>

    <!-- Authentication JS -->
    <script src="{% static 'authentication/js/authentication.js' %}?v={{JS_VERSION}}"></script>
{% endblock %}
