{% extends 'admin_base/base.html' %}
{% load static %}
{% block css %}
<style>
    .card-body .ms-container {
        width: 100%
    }

    .card-body .ms-container .search-input {
        width: 100%;
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">User</h1>
        {# <a href="#" #} {# class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">#}
            {#<i class="fas fa-download fa-sm text-white-50"></i> Generate bReport#}

            {#</a>#}
    </div>
    <p class="mb-4">
        Groups are important for making user cluster.
        Assign permissions on group of people
    </p>


    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Group Add</h6>
        </div>

        <div class="card-body">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-info-tab" data-toggle="tab" href="#nav-info" role="tab"
                        aria-controls="nav-info" aria-selected="true">Info</a>
                    <a class="nav-item nav-link" id="nav-members-tab" data-toggle="tab" href="#nav-members" role="tab"
                        aria-controls="nav-members" aria-selected="false">Members</a>
                    <a class="nav-item nav-link" id="nav-permissions-tab" data-toggle="tab" href="#nav-permissions"
                        role="tab" aria-controls="nav-permissions" aria-selected="false">Permissions</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">
                    <br>  
                    <form id="group_add" data-parsley-validate enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Name: <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="name" name="name"
                                        data-parsley-maxlength="100" placeholder="Enter name here (max 100 chars)."
                                        required>
                                </div>
                            </div>
                        </div>
                        <input type="button" value="Submit" class="submit_btn btn btn-primary float-right">
                    </form>
                </div>
                <div class="tab-pane fade" id="nav-members" role="tabpanel" aria-labelledby="nav-members-tab">  
                    <br>  
                    <h3>Assign staffs to this group </h3> 
                    <br>  
                    <select id="members_list" multiple="multiple"></select>
                    <br>  
                    <input type="button" value="Submit" class="submit_btn btn btn-primary float-right">
                </div>
                <div class="tab-pane fade" id="nav-permissions" role="tabpanel" aria-labelledby="nav-permissions-tab">
                    <br>  
                    <h3>Assign permissions to this group </h3> 
                    <br>  
                    <select id="permissions_list" multiple="multiple"></select>
                    <br>  
                    <input type="button" value="Submit" class="submit_btn btn btn-primary float-right">
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}


{% block js %}
<script>
    const api_urls = {
        "staff_list": "{% url 'apps:rbac:api:v1:staff-list' %}",
        "group_list": "{% url 'apps:rbac:api:v1:dashboard_group_list_create' %}",
    }
    const group_list_url = "{% url 'admin:admin_rbac:group_list' %}";
    const page = "add";
</script>

<!-- group JS -->
<script src="{% static 'admin_rbac/js/group.js' %}?v={{JS_VERSION}}"></script>
{% endblock %}