{% extends 'admin_base/base.html' %}
{% load static %}
{% block css %}
{% endblock %}

{% block content %}
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">NavCategory</h1>
            {#        <a href="#"#}
            {#           class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i#}
            {#                class="fas fa-download fa-sm text-white-50"></i> Generate#}
            {#            Report</a>#}
        </div>
        <p class="mb-4">
            NavCategory helps user to easy move different pages.
        </p>


        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">NavCategory Add</h6>
            </div>
            <div class="card-body">
                <form id="nav_category_add" data-parsley-validate
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="title">Title: <span class="text-danger">*</span></label>
                        <input type="text"
                               class="form-control"
                               id="title"
                               name="title"
                               data-parsley-maxlength="50"
                               placeholder="Enter nav category title here (max 50 chars)."
                               required
                        >
                    </div>

                    <div class="form-group">
                        <label for="redirect_url">Redirect URL: <span class="text-danger">*</span></label>
                        <input type="text"
                               class="form-control"
                               id="redirect_url"
                               name="redirect_url"
                               value="#"
                               data-parsley-maxlength="256"
                               placeholder="Enter nav category redirect url here (max 256 chars)."
                               required
                        >
                    </div>

                    <div class="form-group">
                        <label for="order">Order S <span class="text-danger">*</span></label>
                        <input type="text"
                               class="form-control"
                               id="order"
                               name="order"
                               data-parsley-maxlength="256"
                               placeholder="Enter order score of nav category option."
                               required
                        >
                    </div>

                    <div class="form-group">
                        <label for="parent">Parent: <span class="text-danger">*</span></label>
                        <select
                               class="form-control"
                               id="parent"
                               name="parent"
                        >
                            <option value="#">#</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <div class="custom-control custom-checkbox small">
                            <input type="checkbox" class="custom-control-input" id="is_active" name="is_active" checked>
                            <label class="custom-control-label" for="is_active">Active</label>
                        </div>
                    </div>

                    <div class="failed"></div>

                    <input type="submit"
                           class="btn btn-primary btn-user btn-block">
                </form>
            </div>
        </div>

    </div>
{% endblock %}


{% block js %}
    <script>
        const nav_category_api_url = "{% url 'apps:home:api:v1:nav_category-list' %}";
        const nav_category_list_url = "{% url 'admin:admin_home:nav_category_list' %}";
        const page = 'add';
    </script>

    <!-- NavCategory JS -->
    <script src="{% static 'admin_home/js/nav_category.js' %}?v={{JS_VERSION}}"></script>
{% endblock %}
