{% extends 'admin_base/base.html' %}
{% load static %}
{% block css %}
{% endblock %}

{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Warehouse</h1>
        <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate
            Report</a> -->
    </div>
    <p class="mb-4">
        <!-- Only active warehouse will be shown in home page.
            Warehouses are awesome for user experience.
            Please make sure you have full HD warehouse images. -->
    </p>


    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Warehouse Edit</h6>
        </div>
        <div class="card-body">
            <form id="warehouse_edit" data-parsley-validate enctype="multipart/form-data">
                <div class="form-warehouse">
                    <label for="code">Code: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="code" name="code" data-parsley-maxlength="50"
                        placeholder="Enter warehouse code here (max 50 chars)." required>
                </div>
                <div class="form-warehouse">
                    <label for="name">Name: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="name" name="name" data-parsley-maxlength="50"
                        placeholder="Enter warehouse name here (max 50 chars)." required>
                </div>

                <div class="form-warehouse">
                    <label for="location">Location:</label>
                    <input type="text" class="form-control" id="location" name="location"
                        placeholder="Enter location here.">
                </div>

                <div class="form-warehouse">
                    <div class="custom-control custom-checkbox small">
                        <input type="checkbox" class="custom-control-input" id="is_active" name="is_active">
                        <label class="custom-control-label" for="is_active">Active</label>
                    </div>
                </div>

                <input type="submit" class="btn btn-primary float-right">
            </form>
        </div>
    </div>

</div>
{% endblock %}


{% block js %}
<script>
    const page_type = "edit";
    const uuid = "{{ uuid }}";
    const api_urls = {
        "warehouse_list": "{% url 'apps:inventory:api:v1:warehouse_list_create' %}",
    }
    const warehouse_list_url = "{% url 'admin:admin_inventory:warehouse_list' %}";
</script>

<!-- Warehouse JS -->
<script src="{% static 'admin_inventory/js/warehouse.js' %}?v={{JS_VERSION}}"></script>
{% endblock %}